::-webkit-scrollbar {
  width: 1.5rem;
  border-radius: 0 1rem 1rem 0;
  background-color: #1f1f1f; }

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #7b7b7b;
  border: 0.5rem solid #1f1f1f; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke; }

body {
  background-color: #101010;
  width: 100%;
  height: 100vh;
  display: grid;
  overflow-x: hidden;
  grid-template-columns: 0.8fr repeat(4, 1fr) 0.8fr;
  grid-template-rows: 0.8fr repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 0.8rem 3rem; }

main {
  overflow-x: hidden;
  overflow-y: auto;
  grid-area: 2 / 1 / 7 / 7;
  padding: 2rem;
  height: auto; }
  main > section {
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.308);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.308);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.308);
    background-color: rgba(24, 24, 24, 0.8); }
    main > section:nth-child(1) {
      -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.308);
      -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.308);
      box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.308);
      overflow: hidden;
      width: 100%;
      height: 25rem;
      display: flex;
      justify-content: center; }
      @media screen and (max-width: 771px) {
        main > section:nth-child(1) {
          flex-direction: column;
          height: 50rem; } }
      main > section:nth-child(1) > div {
        padding: 3rem;
        display: flex;
        align-items: center;
        width: 50%; }
        @media screen and (max-width: 771px) {
          main > section:nth-child(1) > div {
            width: 100%;
            justify-content: center;
            align-items: center; } }
        main > section:nth-child(1) > div:nth-child(1) {
          display: flex;
          justify-content: space-evenly;
          align-items: center; }
          main > section:nth-child(1) > div:nth-child(1) > div {
            height: 20rem; }
            @media screen and (max-width: 950px) {
              main > section:nth-child(1) > div:nth-child(1) > div {
                height: 15rem; } }
            main > section:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
              aspect-ratio: 1/1;
              overflow: hidden;
              display: flex;
              justify-content: center;
              align-items: center; }
              main > section:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 5px solid;
                border-color: 1px solid rgba(137, 137, 137, 0.794); }
                main > section:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div > img {
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                  aspect-ratio: 1/1; }
            main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
              margin-left: 3rem;
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: column; }
              main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div {
                width: 100%; }
                main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > h1 {
                  font-size: 4.4rem; }
                  main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > h1 > a {
                    color: rgba(245, 245, 245, 0.519);
                    font-size: 2.4rem;
                    transition: 0.2s; }
                    main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > h1 > a:hover {
                      color: whitesmoke; }
                  @media screen and (max-width: 1000px) {
                    main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > h1 {
                      font-size: 3.4rem; } }
                main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > h3 {
                  margin-left: 0.5rem;
                  font-size: 1.5rem;
                  color: #a7a7a7;
                  margin-top: 1rem; }
                  @media screen and (max-width: 1000px) {
                    main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > h3 {
                      font-size: 1rem; } }
                main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div {
                  margin-top: 1.2rem;
                  padding-left: 0.5rem; }
                  @media screen and (max-width: 1000px) {
                    main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div {
                      display: flex;
                      align-items: start;
                      flex-direction: column; } }
                  main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div > a {
                    font-size: 1.2rem;
                    transition: 0.2s;
                    color: #acacac; }
                    @media screen and (max-width: 1000px) {
                      main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div > a {
                        font-size: 1rem; } }
                    main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div > a:nth-child(2) {
                      margin-left: 2rem; }
                      @media screen and (max-width: 1000px) {
                        main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div > a:nth-child(2) {
                          margin-left: 0; } }
                    main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div > a:nth-child(1):hover {
                      color: whitesmoke; }
                    main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div > a:nth-child(2):hover {
                      color: whitesmoke; }
                main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
                  height: 30%;
                  display: flex;
                  justify-content: space-evenly;
                  align-items: center; }
                  main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div {
                    opacity: 70%;
                    transition: 0.2s;
                    font-size: 2rem;
                    font-weight: lighter; }
                    main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:hover {
                      opacity: 100%; }
                  @media screen and (max-width: 1000px) {
                    main > section:nth-child(1) > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
                      width: 85%; } }
        main > section:nth-child(1) > div:nth-child(2) {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 0;
          border-left: 1px solid #373737; }
          @media screen and (max-width: 771px) {
            main > section:nth-child(1) > div:nth-child(2) {
              border: none; } }
          main > section:nth-child(1) > div:nth-child(2) > div {
            width: 100%;
            height: 50%;
            height: 100%;
            display: flex;
            padding: 2rem 0 2rem 6rem;
            justify-content: space-evenly;
            align-items: start;
            flex-direction: column; }
            main > section:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
              border-bottom: 1px solid #373737; }
              main > section:nth-child(1) > div:nth-child(2) > div:nth-child(1) > h1 {
                font-size: 2rem; }
                @media screen and (max-width: 1000px) {
                  main > section:nth-child(1) > div:nth-child(2) > div:nth-child(1) > h1 {
                    font-size: 1.4rem;
                    margin-bottom: 2rem; } }
              main > section:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div {
                display: flex;
                justify-content: space-between;
                align-items: center; }
                main > section:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div > h3 {
                  font-size: 1.4rem; }
                  @media screen and (max-width: 1000px) {
                    main > section:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div > h3 {
                      font-size: 1rem; } }
                main > section:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div > div {
                  width: 25rem;
                  background-color: #3f3f3f;
                  margin: 0 2rem;
                  height: 50%; }
                  @media screen and (max-width: 1000px) {
                    main > section:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div > div {
                      width: 18rem; } }
                  main > section:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div > div div {
                    width: 43%;
                    height: 100%;
                    background: linear-gradient(90deg, #4568dc, #b06ab3);
                    transition: width 0.5s ease-in-out; }
            main > section:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
              padding: 0; }
              main > section:nth-child(1) > div:nth-child(2) > div:nth-child(2) > form {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center; }
                @media screen and (max-width: 790px) {
                  main > section:nth-child(1) > div:nth-child(2) > div:nth-child(2) > form {
                    padding-top: 3rem; } }
                main > section:nth-child(1) > div:nth-child(2) > div:nth-child(2) > form > .follow:hover {
                  border: 1px solid rgba(0, 128, 0, 0.677);
                  background: rgba(33, 105, 23, 0.09); }
                main > section:nth-child(1) > div:nth-child(2) > div:nth-child(2) > form > .unfollow {
                  background: rgba(23, 105, 23, 0.334); }
                  main > section:nth-child(1) > div:nth-child(2) > div:nth-child(2) > form > .unfollow:hover {
                    border: 1px solid rgba(247, 38, 38, 0.806);
                    background: rgba(105, 23, 23, 0.334); }
                main > section:nth-child(1) > div:nth-child(2) > div:nth-child(2) > form > a {
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center; }
                  main > section:nth-child(1) > div:nth-child(2) > div:nth-child(2) > form > a > .edit_profile {
                    width: 90%;
                    transition: 0.2s; }
                    main > section:nth-child(1) > div:nth-child(2) > div:nth-child(2) > form > a > .edit_profile:hover {
                      border: 1px solid rgba(242, 188, 79, 0.809);
                      background: rgba(105, 105, 23, 0.179); }
                main > section:nth-child(1) > div:nth-child(2) > div:nth-child(2) > form > .send_message:hover {
                  border: 1px solid rgba(242, 188, 79, 0.809);
                  background: rgba(105, 105, 23, 0.179); }
                main > section:nth-child(1) > div:nth-child(2) > div:nth-child(2) > form button {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #111111;
                  color: whitesmoke;
                  border: 1px solid #4b4b4b;
                  border-radius: 5px;
                  width: 45%;
                  height: 5rem;
                  font-size: 2rem;
                  opacity: 70%;
                  transition: 0.2s; }
                  @media screen and (max-width: 1000px) {
                    main > section:nth-child(1) > div:nth-child(2) > div:nth-child(2) > form button {
                      width: 40%;
                      font-size: 1.4rem; } }
                  main > section:nth-child(1) > div:nth-child(2) > div:nth-child(2) > form button > img {
                    width: 2rem;
                    margin-right: 2rem; }
                    @media screen and (max-width: 1000px) {
                      main > section:nth-child(1) > div:nth-child(2) > div:nth-child(2) > form button > img {
                        width: 1.4rem; } }
                    @media screen and (max-width: 1000px) {
                      main > section:nth-child(1) > div:nth-child(2) > div:nth-child(2) > form button > img {
                        margin-right: 1rem; } }
                  main > section:nth-child(1) > div:nth-child(2) > div:nth-child(2) > form button:hover {
                    cursor: pointer;
                    opacity: 100%; }
    main > section:nth-child(2) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      margin-top: 5rem; }
      main > section:nth-child(2) > span:nth-child(1) {
        margin-top: 2rem; }
        main > section:nth-child(2) > span:nth-child(1) > h1 {
          font-size: 3rem; }
      main > section:nth-child(2) > span:nth-child(2) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row; }
        main > section:nth-child(2) > span:nth-child(2) .post {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: space-between;
          width: 35rem;
          min-height: 40rem;
          background-color: #1e1e1e;
          color: #fff;
          border-radius: 10px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          padding: 2rem;
          margin: 2rem;
          font-family: Arial, Helvetica, sans-serif;
          -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.308);
          -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.308);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.308); }
          main > section:nth-child(2) > span:nth-child(2) .post .post-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem; }
          main > section:nth-child(2) > span:nth-child(2) .post .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 1rem; }
            main > section:nth-child(2) > span:nth-child(2) .post .avatar > img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
          main > section:nth-child(2) > span:nth-child(2) .post .user-info {
            text-align: end; }
            main > section:nth-child(2) > span:nth-child(2) .post .user-info > h2 {
              font-size: 1.8rem;
              margin: 0;
              margin-bottom: 0.5rem; }
          main > section:nth-child(2) > span:nth-child(2) .post .post-date {
            font-size: 14px;
            color: #999; }
          main > section:nth-child(2) > span:nth-child(2) .post .favorite-button > button {
            background-color: transparent;
            border: none;
            padding: 0;
            font-size: 14px;
            cursor: pointer; }
            main > section:nth-child(2) > span:nth-child(2) .post .favorite-button > button svg {
              width: 24px;
              height: 24px; }
          main > section:nth-child(2) > span:nth-child(2) .post .favorite-button > button.favorite {
            color: #f7d440; }
            main > section:nth-child(2) > span:nth-child(2) .post .favorite-button > button.favorite:hover {
              color: #ffed85; }
          main > section:nth-child(2) > span:nth-child(2) .post .post_image_div {
            width: 100%;
            margin-bottom: 1rem;
            height: 18rem;
            display: flex;
            justify-content: center;
            align-content: center; }
            main > section:nth-child(2) > span:nth-child(2) .post .post_image_div > img {
              max-width: 100%;
              max-height: 100%; }
          main > section:nth-child(2) > span:nth-child(2) .post .post-content {
            margin-top: 2rem; }
            main > section:nth-child(2) > span:nth-child(2) .post .post-content > h3 {
              font-size: 2rem;
              margin: 0;
              margin-bottom: 10px; }
            main > section:nth-child(2) > span:nth-child(2) .post .post-content > p {
              font-size: 1.4rem;
              margin: 0;
              margin-bottom: 20px;
              line-height: 1.5;
              word-wrap: break-word;
              color: #a7a7a7; }
          main > section:nth-child(2) > span:nth-child(2) .post .post-tags {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px; }
            main > section:nth-child(2) > span:nth-child(2) .post .post-tags .tag {
              background-color: #6b00e5e8;
              border-radius: 20px;
              padding: 5px 10px;
              font-size: 14px;
              margin-right: 1rem;
              margin-bottom: 0.5rem; }
              main > section:nth-child(2) > span:nth-child(2) .post .post-tags .tag:last-child {
                margin-right: 0; }
          main > section:nth-child(2) > span:nth-child(2) .post .post-actions {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            bottom: 1rem; }
            main > section:nth-child(2) > span:nth-child(2) .post .post-actions button, main > section:nth-child(2) > span:nth-child(2) .post .post-actions a {
              background-color: transparent;
              border: none;
              border-radius: 30px;
              padding: 10px;
              font-size: 14px;
              margin-left: 20px;
              transition: background-color 0.2s ease;
              display: flex;
              align-items: center;
              flex-direction: row;
              color: whitesmoke; }
              main > section:nth-child(2) > span:nth-child(2) .post .post-actions button > h3, main > section:nth-child(2) > span:nth-child(2) .post .post-actions a > h3 {
                margin-left: 1rem;
                color: whitesmoke; }
            main > section:nth-child(2) > span:nth-child(2) .post .post-actions > .like > svg {
              cursor: pointer;
              transition: 0.2s; }
              main > section:nth-child(2) > span:nth-child(2) .post .post-actions > .like > svg:hover {
                stroke-width: 2;
                stroke: #1ca31e;
                fill: #238925; }
            main > section:nth-child(2) > span:nth-child(2) .post .post-actions > .dislike > svg {
              cursor: pointer;
              transition: 0.2s; }
              main > section:nth-child(2) > span:nth-child(2) .post .post-actions > .dislike > svg:hover {
                stroke-width: 2;
                stroke: #ff2b3d;
                fill: #E32636; }
            main > section:nth-child(2) > span:nth-child(2) .post .post-actions > .favorite > svg {
              cursor: pointer;
              transition: 0.2s; }
              main > section:nth-child(2) > span:nth-child(2) .post .post-actions > .favorite > svg:hover {
                stroke-width: 3.5;
                stroke: gold;
                fill: gold; }
            main > section:nth-child(2) > span:nth-child(2) .post .post-actions > .comments > svg {
              cursor: pointer;
              transition: 0.2s; }
              main > section:nth-child(2) > span:nth-child(2) .post .post-actions > .comments > svg:hover {
                stroke-width: 3;
                stroke: #e6e6e6;
                fill: #e6e6e6; }
            @media screen and (max-width: 600px) {
              main > section:nth-child(2) > span:nth-child(2) .post .post-actions .post-header {
                flex-direction: column;
                align-items: flex-start; }
              main > section:nth-child(2) > span:nth-child(2) .post .post-actions .avatar {
                margin-bottom: 10px;
                margin-right: 0; }
              main > section:nth-child(2) > span:nth-child(2) .post .post-actions .user-info {
                margin-bottom: 10px; }
              main > section:nth-child(2) > span:nth-child(2) .post .post-actions .post-content h3 {
                font-size: 20px; }
              main > section:nth-child(2) > span:nth-child(2) .post .post-actions .post-actions {
                flex-wrap: wrap; }
                main > section:nth-child(2) > span:nth-child(2) .post .post-actions .post-actions button {
                  margin-bottom: 10px;
                  margin-left: 0; } }

/*# sourceMappingURL=style.css.map */
