$bgc_1: #101010;
$bgc_2: #181818;

$txt_cl_1: whitesmoke;
$txt_cl_2: rgb(167, 167, 167);
$txt_cl_3: rgba(245, 245, 245, 0.519);

$ava_border: 1px solid rgba(138, 138, 138, 0.794);

@mixin overflow {
    overflow-x: hidden;
    overflow-y: auto;
}


::-webkit-scrollbar {
    width: 1.5rem;
    border-radius: 0 1rem 1rem 0;
    background-color: #1f1f1f; 
}
  
::-webkit-scrollbar-thumb {
    border-radius:1rem;
    background-color: #7b7b7b;
    border: 0.5rem solid #1f1f1f;

  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}   

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: $txt_cl_1;
}

body {
    background-color: $bgc_1;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.8fr repeat(4, 1fr) 0.8fr;
    grid-template-rows: 0.4fr repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    & > button {
        left: 2rem;
        top: 9rem;    
        color: #1f1f1f;
        padding: 1rem 2.5rem;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        position: absolute;
        outline: none;
        background: #f9513e;
        border: none;
        z-index: 1;
        font-size: 1.6rem;

        &::after {
            position: absolute;
            content: "";
            width: 0;
            height: 100%;
            top: 0;
            right: 0;
            z-index: -1;
            background-color: #ff3d3d;
            transition: all 0.3s ease;
        }
        
        &:hover {
            color: #000000;

            &:after {
                left: 0;
                width: 100%;
            }
        }

        &:active {
            top: 9.5rem;
        }
    }
}

main {
    grid-area: 2 / 1 / 7 / 7;
    width: 100%;
    padding: 5rem;
    margin-top: 8rem;
    @include overflow();

    

    & > section {
        margin-bottom: 14rem;
        & > div {
            width: 100%;
            padding: 0 8rem;

            @media (max-width: 780px) {
                padding: 0;
            }

            &:nth-child(1) {
                margin-bottom: 4rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                & > h1 {
                    text-align: center;
                    color: $txt_cl_3;
 
                    @media (max-width: 780px) {
                        font-size: 1.4rem;
                    }

                    &:nth-child(2) {
                        margin-left: 2rem;
                    }
                }

                & > span {
                    width: 85%;
                    height: 1.8px;
                    background-color: $txt_cl_3;
                
                    @media (max-width: 780px) {
                        width: 60%;
                    }
                    
                }
            }

            &:nth-child(2) {
                & > h1 {
                    font-size: 6rem;
                    margin-bottom: 4rem;

                    @media (max-width: 780px) {
                        font-size: 4.8rem;
                    }
                }

                & > p {
                    font-size: 2rem;
                    color: $txt_cl_2;
                    @media (max-width: 780px) {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}