input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #2a2a2a inset !important;
  box-shadow: 0 0 0 30px #2a2a2a inset !important;
  -webkit-text-fill-color: whitesmoke !important;
  color: whitesmoke !important;
  background-color: transparent !important;
  background-clip: content-box !important;
  transition: background-color 5000s ease-in-out 0s !important; }

input:focus {
  outline: none !important; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  font-size: 17px !important;
  -webkit-text-size-adjust: 100% !important; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke; }

body {
  background-color: #101010;
  overflow: hidden; }

header {
  width: 100%;
  height: 7vh;
  border-bottom: 1px solid #ffbf0099;
  display: flex;
  align-items: center; }
  header div:first-child {
    position: absolute;
    left: 5rem; }
    header div:first-child span {
      color: #ffcf41;
      font-size: 2.3rem;
      margin-left: 0.5rem; }
  header div:last-child {
    position: absolute;
    right: 4rem; }
    header div:last-child .reg_button {
      width: 12rem;
      height: 4rem;
      background: linear-gradient(to right top, #ff9a00, #f6d900);
      border: none;
      border-radius: 5px;
      color: #1f1f1f;
      font-size: 1.7rem;
      transition: 0.3s; }
      header div:last-child .reg_button:hover {
        cursor: pointer;
        background: linear-gradient(to right top, #ffad32, #ffee35);
        width: 12.2rem;
        height: 4.2rem;
        font-size: 1.8rem;
        margin-right: -0.1rem;
        transition: 0.3s; }
  @media screen and (max-width: 768px) {
    header div:first-child {
      left: 2rem; }
      header div:first-child span {
        font-size: 2rem;
        margin-left: 0.5rem; }
    header div:last-child {
      right: 2rem; }
      header div:last-child .reg_button {
        width: 10rem;
        height: 3.5rem;
        font-size: 1.5rem; }
        header div:last-child .reg_button:hover {
          width: 10.2rem;
          height: 3.7rem;
          font-size: 1.6rem;
          margin-right: -0.1rem; } }

section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden; }
  section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000, #ffcf41, #000);
    animation: animate 5s linear infinite; }
  section span {
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background: #181818;
    z-index: 2;
    transition: 1.5s; }
    section span:hover {
      background: #ffcf41;
      transition: 0s; }
  section .signin {
    margin-top: -10rem;
    width: 40rem;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #222222;
    z-index: 1000;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5); }
    @media screen and (max-width: 768px) {
      section .signin {
        width: 35rem;
        height: 50rem; } }
    section .signin .content {
      position: relative;
      width: 100%;
      height: 90%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      gap: 40px; }
      @media screen and (max-width: 768px) {
        section .signin .content {
          height: 70%; } }
      section .signin .content h1 {
        font-size: 2em;
        color: #ffcf41;
        text-transform: uppercase; }
      section .signin .content .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px; }
        section .signin .content .form .inputBx {
          position: relative;
          width: 100%; }
          section .signin .content .form .inputBx:nth-child(3) {
            margin-bottom: 5rem; }
            @media screen and (max-width: 768px) {
              section .signin .content .form .inputBx:nth-child(3) {
                margin-bottom: 2rem; } }
          section .signin .content .form .inputBx input {
            position: relative;
            width: 100%;
            background: #333333;
            border: none;
            outline: none;
            padding: 25px 10px 7.5px;
            border: 4px;
            color: #ffffff;
            font-weight: 500;
            font-size: 1em; }
          section .signin .content .form .inputBx i {
            position: absolute;
            left: 0;
            padding: 15px 10px;
            font-style: normal;
            color: #aaaaaa;
            transition: 0.5s;
            pointer-events: none; }

.signin .content .form .inputBx input:focus ~ i, .signin .content .form .inputBx input:valid ~ i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #ffffff; }

.signin .content .form .links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .signin .content .form .links a {
    color: #ffffff;
    text-decoration: none; }
    .signin .content .form .links a:nth-child(2) {
      font-size: 1.5rem;
      color: #b68800fb;
      font-weight: 600; }

.signin .content .form .inputBx button[type="submit"] {
  border: none;
  width: 100%;
  height: 4rem;
  margin-top: 2rem;
  padding: 10px;
  background-image: radial-gradient(circle, #ef36b6, #8500c5);
  color: #111111;
  font-weight: 600;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  cursor: pointer; }

@media (max-width: 1400px) {
  section span {
    width: calc(9vw - 2px);
    height: calc(9vw - 2px); } }
@media (min-width: 750) {
  section span {
    width: 200px;
    height: 200px;
    width: calc(10vw - 2px);
    height: calc(10vw - 2px); }

  section .signin {
    background-color: red;
    margin-top: 0rem;
    width: 20rem;
    height: 30rem; } }
@keyframes animate {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(100%); } }

/*# sourceMappingURL=style.css.map */
