{% extends 'main/base.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'about_us/css/contact_us/style.css' %}">
{% endblock %}
{% block title %} SmartChat | Contact Us {% endblock %}
{% block main %} 
    <main>
        <button onclick="history.back()"> Go Back </button>

        <div>

            <div>
                <h1> Contact Us </h1>
            </div>
    
            <div>
                <form method="post">
                    {% csrf_token %}
                    <textarea name="message" maxlength = "1000" placeholder = "message*" ></textarea>
                    <button type="submit"> Send </button>
                </form>
            </div>
            
    
        </div>
    </main>
{% endblock %}