::-webkit-scrollbar {
  width: 1.5rem;
  border-radius: 0 1rem 1rem 0;
  background-color: #1f1f1f; }

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #7b7b7b;
  border: 0.5rem solid #1f1f1f; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke; }

body {
  background-color: #101010;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.8fr repeat(5, 1fr);
  grid-template-rows: 0.4fr repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }
  body > header {
    grid-area: 1 / 1 / 2 / 7; }
  body > menu {
    grid-area: 2 / 1 / 7 / 2; }
  body > main {
    grid-area: 2 / 2 / 7 / 7; }

menu {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 2rem;
  background-color: #181818;
  -webkit-box-shadow: 13px 0px 20px 0px rgba(0, 0, 0, 0.308);
  -moz-box-shadow: 13px 0px 20px 0px rgba(0, 0, 0, 0.308);
  box-shadow: 13px 0px 20px 0px rgba(0, 0, 0, 0.308); }
  menu > h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem; }
    @media (max-width: 900px) {
      menu > h1 {
        display: none; } }
  menu > ul {
    list-style: none;
    width: 100%;
    padding: 0.5rem; }
    menu > ul > li {
      display: flex;
      margin-bottom: 2rem;
      justify-content: start;
      align-items: center;
      opacity: 70%;
      transition: 0.2s;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s; }
      menu > ul > li:hover {
        cursor: pointer;
        opacity: 100%; }
        menu > ul > li:hover > a {
          color: whitesmoke; }
      menu > ul > li > a {
        color: #a7a7a7;
        font-size: 1.8rem; }
        @media (max-width: 900px) {
          menu > ul > li > a {
            display: none; } }
      menu > ul > li > img {
        margin-right: 1rem; }
    menu > ul .active {
      opacity: 100; }
      menu > ul .active > a {
        color: whitesmoke; }

main {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 5rem; }
  main > form {
    width: 100%;
    height: 100%; }
  main > form > section:nth-child(1) {
    display: flex;
    align-items: center; }
    main > form > section:nth-child(1) > div {
      border-radius: 50%; }
      main > form > section:nth-child(1) > div:nth-child(1) {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center; }
        main > form > section:nth-child(1) > div:nth-child(1) > img {
          width: 20rem;
          height: 20rem;
          border-radius: 50%;
          transition: 0.2s; }
          main > form > section:nth-child(1) > div:nth-child(1) > img:nth-child(2) {
            position: absolute;
            z-index: 1;
            width: 10rem;
            border-radius: 0; }
          main > form > section:nth-child(1) > div:nth-child(1) > img:nth-child(1) {
            border: 2px solid silver;
            opacity: 60%; }
        main > form > section:nth-child(1) > div:nth-child(1):hover {
          cursor: pointer; }
          main > form > section:nth-child(1) > div:nth-child(1):hover > img:nth-child(1) {
            opacity: 70%; }
      main > form > section:nth-child(1) > div:nth-child(2) {
        margin-left: 5rem; }
        main > form > section:nth-child(1) > div:nth-child(2) > h1 {
          font-size: 4rem; }
        main > form > section:nth-child(1) > div:nth-child(2) > h3 {
          color: #a7a7a7;
          font-size: 1.4rem; }
  main > form > section:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    main > form > section:nth-child(2) {
      overflow-x: hidden;
      overflow-y: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      main > form > section:nth-child(2) > span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem; }
        main > form > section:nth-child(2) > span > div {
          width: 90%;
          height: 4rem;
          margin-bottom: 3rem;
          border-bottom: 1px solid whitesmoke;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 50%; }
          main > form > section:nth-child(2) > span > div:first-child {
            margin-right: 20rem; }
          main > form > section:nth-child(2) > span > div > img {
            user-select: none;
            margin: 0 0.5rem;
            width: 2.4rem;
            transition: 0.2s; }
          main > form > section:nth-child(2) > span > div > input {
            width: 100%;
            height: 100%;
            border: none;
            background-color: #101010;
            outline: none;
            color: whitesmoke;
            padding-left: 0.5rem;
            font-size: 1.5rem; }
            main > form > section:nth-child(2) > span > div > input::placeholder {
              color: whitesmoke; }
          main > form > section:nth-child(2) > span > div:focus-within {
            opacity: 100%; }
      main > form > section:nth-child(2) > textarea {
        width: 50%;
        height: 20rem;
        resize: none;
        outline: none;
        background-color: #181818;
        border: 1px solid silver;
        margin-bottom: 2rem;
        padding: 2rem;
        color: whitesmoke;
        border-radius: 5px; }
      main > form > section:nth-child(2) > button {
        display: none; }
  main > form > section:nth-child(3) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    main > form > section:nth-child(3) > button {
      width: 60%;
      height: 5rem;
      color: #1f1f1f;
      padding: 1rem 2.5rem;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      outline: none;
      background: #fed221;
      border: none;
      z-index: 1;
      font-size: 2rem;
      margin-top: 2rem; }
      main > form > section:nth-child(3) > button::after {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        background-color: #ffef3d;
        transition: all 0.3s ease; }
      main > form > section:nth-child(3) > button:hover {
        color: #000000; }
        main > form > section:nth-child(3) > button:hover:after {
          left: 0;
          width: 100%; }
      main > form > section:nth-child(3) > button:active {
        top: 0.2rem; }

/*# sourceMappingURL=style.css.map */
