{% load static %}

<div id = "settings_menu" class = "menu_left">
    <ul>
        <li><h3> Signed in as <span>{{user.username }}</span> </h3></li>
        <hr> <br>
        <li><a href="{% url '404-page' %}" > <img src="{% static 'main/icon/settings_menu/user_icon.svg' %}" alt=""> My Profile </a></li>
        <hr>
        <li><a href="{% url 'posts' %}"> <img src="{% static 'main/icon/settings_menu/pages_icon.svg' %}" alt=""> Go To Posts </a></li>
        <li><a href="{% url '404-page' %}"> <img src="{% static 'main/icon/settings_menu/pages_icon.svg' %}" alt=""> Go To Chats </a></li>
        <hr>
        <li><a href="{% url '404-page' %}"> <img src="{% static 'main/icon/settings_menu/user_settings_icon.svg' %}" alt=""> User Settings</a></li>
        <li><a href="{% url '404-page' %}"> <img src="{% static 'main/icon/settings_menu/settings_icon.svg' %}" alt=""> Site Settings </a></li>
        <hr>
        <li><a href="{% url '404-page' %}"> <img src="{% static 'main/icon/settings_menu/contact-us_icon.svg' %}" alt=""> Contact Us </a></li>
        <li><a href="{% url '404-page' %}"> <img src="{% static 'main/icon/settings_menu/about-us_icon.svg' %}" alt=""> About Us </a></li>
        <hr>
        <li><a href="{% url 'logout'%}"> <img src="{% static 'main/icon/settings_menu/log-out_icon.svg' %}" alt=""> Log-out </a></li> 
    </ul>
</div>