* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke; }

body {
  background-color: #101010;
  width: 100%;
  height: 100vh;
  display: grid;
  overflow-x: hidden;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 7vh 1fr 1fr 1fr 1fr, 1fr;
  margin: 0;
  grid-template-areas: 'header header header header header header header' 'main main main main main main main' 'main main main main main main main' 'main main main main main main main' 'main main main main main main main' 'main main main main main main main'; }

main {
  margin-top: 3rem;
  height: 100%;
  z-index: 1;
  grid-area: main;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 70vh;
  overflow: hidden; }
  main .post {
    margin-bottom: 4rem;
    width: 70%;
    height: auto;
    background-color: rgba(89, 107, 134, 0.236);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    padding: 3rem; }
    @media screen and (max-width: 1313px) {
      main .post {
        width: 100%;
        flex-direction: column; } }
    main .post div:first-child {
      max-width: 25rem;
      height: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column; }
      main .post div:first-child span {
        width: 90%;
        text-align: start;
        margin-bottom: 1rem; }
        main .post div:first-child span p {
          font-size: 1.5rem;
          text-align: start; }
      main .post div:first-child img {
        border: 1px solid rgba(138, 138, 138, 0.794);
        max-width: 23rem;
        min-width: 15rem;
        border-radius: 1rem; }
        @media screen and (max-width: 1313px) {
          main .post div:first-child img {
            margin-bottom: 2rem; } }
    main .post div:nth-child(2) {
      width: 100%;
      margin-top: 3rem;
      margin-left: 2rem;
      display: flex;
      flex-direction: column; }
      main .post div:nth-child(2) h1:nth-child(1) {
        font-size: 3rem; }
      main .post div:nth-child(2) .post_text {
        width: 100%;
        display: flex;
        margin-top: 1.5rem;
        color: rgba(253, 253, 253, 0.862);
        font-size: 1.5rem; }
      main .post div:nth-child(2) span {
        display: flex;
        margin-top: 1.5rem; }
        main .post div:nth-child(2) span:nth-child(2) {
          display: flex;
          justify-content: start;
          align-items: center; }
          main .post div:nth-child(2) span:nth-child(2) p {
            padding: 0.6rem 1rem;
            border-radius: 0.5rem;
            background-color: #5a3ecc;
            color: white;
            font-size: 1.5rem; }
            main .post div:nth-child(2) span:nth-child(2) p:not(:first-child) {
              margin-left: 2rem; }
        main .post div:nth-child(2) span:nth-child(5) form {
          display: flex;
          flex-direction: row;
          align-items: center; }
          main .post div:nth-child(2) span:nth-child(5) form dl {
            display: flex;
            justify-content: center;
            align-items: center; }
            main .post div:nth-child(2) span:nth-child(5) form dl p {
              font-size: 2rem;
              margin-left: 0.5rem; }
            main .post div:nth-child(2) span:nth-child(5) form dl:not(:nth-child(2)) {
              margin-left: 2rem; }
            main .post div:nth-child(2) span:nth-child(5) form dl:nth-child(2) button:hover {
              cursor: pointer; }
              main .post div:nth-child(2) span:nth-child(5) form dl:nth-child(2) button:hover img {
                transition: 0.3s;
                filter: drop-shadow(0 0 1rem #48ff00); }
            main .post div:nth-child(2) span:nth-child(5) form dl:nth-child(3) button:hover {
              cursor: pointer; }
              main .post div:nth-child(2) span:nth-child(5) form dl:nth-child(3) button:hover img {
                transition: 0.3s;
                filter: drop-shadow(0 0 1rem red); }
            main .post div:nth-child(2) span:nth-child(5) form dl:nth-child(4) a {
              display: flex;
              color: whitesmoke; }
              main .post div:nth-child(2) span:nth-child(5) form dl:nth-child(4) a:hover {
                cursor: pointer; }
                main .post div:nth-child(2) span:nth-child(5) form dl:nth-child(4) a:hover img {
                  transition: 0.3s;
                  filter: drop-shadow(0 0 1rem #00ffd5); }
          main .post div:nth-child(2) span:nth-child(5) form button {
            font-size: 1.2rem;
            border: none;
            outline: none;
            color: whitesmoke;
            background-color: transparent; }
            main .post div:nth-child(2) span:nth-child(5) form button img {
              transition: 0.3s; }
        main .post div:nth-child(2) span:nth-child(6) {
          height: 4rem;
          display: flex;
          justify-content: end;
          align-items: center; }
          main .post div:nth-child(2) span:nth-child(6) a {
            display: flex; }
            main .post div:nth-child(2) span:nth-child(6) a button {
              width: 4rem;
              height: 4rem;
              display: flex;
              justify-content: center;
              align-items: center;
              border: none;
              outline: none;
              margin-left: 2rem;
              border-radius: 5px;
              color: whitesmoke;
              transition: 0.2s; }
              main .post div:nth-child(2) span:nth-child(6) a button img {
                width: 1.8rem; }
              main .post div:nth-child(2) span:nth-child(6) a button:nth-child(1) {
                background-color: #128c12; }
                main .post div:nth-child(2) span:nth-child(6) a button:nth-child(1):hover {
                  cursor: pointer;
                  background-color: #42cb42; }
              main .post div:nth-child(2) span:nth-child(6) a button:nth-child(2) {
                background-color: #c61c1c; }
                main .post div:nth-child(2) span:nth-child(6) a button:nth-child(2):hover {
                  cursor: pointer;
                  background-color: #ea3131; }
    main .post div a {
      margin: 1.5rem 0 1.5rem 0; }
      main .post div a span {
        padding-top: 1.5rem;
        display: flex;
        align-items: center;
        border-top: 1px solid silver; }
        main .post div a span h1 {
          color: rgba(253, 253, 253, 0.91);
          margin-left: 1rem; }
        main .post div a span img {
          width: 4rem;
          border-radius: 50%;
          border: 1px solid rgba(138, 138, 138, 0.794); }
  main section:last-child {
    width: 70%;
    height: 8rem;
    display: flex;
    justify-content: space-evenly; }
    main section:last-child a:last-child button {
      background-image: linear-gradient(144deg, rgba(250, 17, 17, 0.889), rgba(255, 35, 35, 0.889) 50%, rgba(255, 35, 35, 0.889)); }
      main section:last-child a:last-child button:hover {
        box-shadow: rgba(255, 0, 0, 0.534) 0 15px 30px -5px;
        transition: 0.2s; }
    main section:last-child a:first-child button {
      background-image: linear-gradient(144deg, rgba(115, 195, 41, 0.889), rgba(57, 222, 62, 0.889) 50%, rgba(124, 173, 45, 0.889)); }
      main section:last-child a:first-child button:hover {
        box-shadow: rgba(13, 255, 0, 0.613) 0 15px 30px -5px;
        transition: 0.2s; }
    main section:last-child button {
      width: 15rem;
      height: 5rem;
      border: none;
      font-size: 2rem;
      align-items: center;
      border-radius: 8px;
      color: #FFFFFF;
      cursor: pointer;
      outline: none;
      transition: 0.2s; }

/*# sourceMappingURL=style.css.map */
