$bgc_1: #101010;
$bgc_2: #181818;
$post_bgc: #1e1e1e;

$txt_cl_1: whitesmoke;
$txt_cl_2: rgb(167, 167, 167);
$txt_cl_3: rgba(245, 245, 245, 0.519);

$ava_border: 1px solid rgba(138, 138, 138, 0.794);

@mixin overflow {
    overflow-x: hidden;
    overflow-y: auto;
}

@mixin likes_mix {
    & > svg {
        width: 2.4rem;
        height: 2.4rem;
        transition: 0.3s;
    }

    &:nth-child(2) {
        &:hover {
            cursor: pointer;

            & > svg {
                stroke: #38ac3a;
            }
        }
    }

    &:nth-child(3) {
        &:hover {
            cursor: pointer;
            & > svg {
                stroke: #ac1616;
            }
        }
    }


    &:nth-child(4) {
        &:hover {
            cursor: pointer;
            & > svg {
                stroke: #9a8617;
            }
        }
    } 
}

::-webkit-scrollbar {
    width: 1.5rem;
    border-radius: 0 1rem 1rem 0;
    background-color: #1f1f1f; 
}
  
::-webkit-scrollbar-thumb {
    border-radius:1rem;
    background-color: #7b7b7b;
    border: 0.5rem solid #1f1f1f;

  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}   

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: $txt_cl_1;
}

body {
    background-color: $bgc_1;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.8fr repeat(4, 1fr) 0.8fr;
    grid-template-rows: 0.4fr repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

menu {
    grid-area: 2 / 1 / 7 / 2;
    
    background-color: $bgc_2;
    padding: 2rem;
    
    -webkit-box-shadow: 13px 0px 20px 0px rgba(0, 0, 0, 0.308);
    -moz-box-shadow: 13px 0px 20px 0px rgba(0, 0, 0, 0.308);
    box-shadow: 13px 0px 20px 0px rgba(0, 0, 0, 0.308);
    
    @media screen and (max-width: 1290px) {
        display: none;
    }
    & > div {
        width: 100%;
    
        & > h1 {
            font-size: 3rem;
        }
    }

    & > hr {
        border: 1px solid rgb(148, 148, 148);
        margin: 2rem 0;
    }

    & > ul {
        list-style: none;
        width: 100%;

        & > .active {
            opacity: 100%;
        }

        & > li {
            opacity: 50%;
            margin-bottom: 0.5rem;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            transition: 0.2s;
            
            & > a {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                font-size: 2rem;
                color: white;

                & > img {
                    width: 2.4rem;
                }
            }

            &:hover {
                opacity: 100%;
            }
        }
    }
}


nav {
    grid-area: 2 / 6 / 7 / 7;
    background-color: $bgc_2;
    -webkit-box-shadow: -13px 0px 20px 0px rgba(0, 0, 0, 0.308);
    -moz-box-shadow: -13px 0px 20px 0px rgba(0, 0, 0, 0.308);
    box-shadow: -13px 0px 20px 0px rgba(0, 0, 0, 0.308);
    padding: 2rem;

    @media screen and (max-width: 1290px) {
        display: none;
    }

    & > h1 {
        font-size: 2.3rem;
        margin-bottom: 2rem;
    }

    & > ul {
        height: calc(100% - 5rem);
        list-style: none;
        @include overflow;
        
        & > li {
            background-color: #212121;
            padding: 0.7rem 1rem;
            border-radius: 8px;
            transition: 0.2s;
            
            &:not(:first-child) {
                margin-top: 2rem;
            }

            &:hover {
                cursor: pointer;
                background-color: #2c2c2c;
            }

            & > a {
                display: flex;
                align-items: center;
                color: $txt_cl_1;
                & > img {
                    width: 4rem;
                    margin-right: 1rem;
                }

                & > div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    & > h3 {
                        color: $txt_cl_2;
                    }
                }
            }
        }
    }
}


main {
    grid-area: 2 / 2 / 7 / 6;
    padding: 4rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
        grid-area: 2 / 1 / 7 / 7;
    }

    & > section {
        &:nth-child(1) {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            & > div {
                width: calc(100% - 20rem );
                height: 2px;
                background-color: #333333;
            }

            & > a {
                height: 3rem;
                width: 10rem;
                
                &:hover {
                    & > button {
                        cursor: pointer;
                        background-color: #2b2b2b;
                    }
                }
                
                & > button {
                    width: 100%;
                    height: 100%;
                    padding: 0.5rem 2rem;
                    font-size: 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    border-radius: 4px;
                    border: none;
                    outline: none;
                    color: white;
                    background-color: #222222;
                    transition: 0.2s;

                    & > span {
                        margin-right: 0.5rem;
                        font-size:2.5rem;
                    }

                    @media screen and (max-width: 1290px) {
                        font-size: 1.2rem;

                        & > span {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }

        

        &:nth-child(2) {
            width: 100%;
            height: 100%;
            padding: 2.2rem;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-evenly;
            margin-top: 3rem;
            @include overflow();

            @media screen and (max-width: 800px) {
                margin-top: 2rem;
            }
            
            @media screen and (max-width: 1290px) {
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
            }

            .post {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: space-between;
                width: 35rem;
                min-height: 52rem;
                background-color: $post_bgc;
                color: #fff;
                border-radius: 10px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                padding: 2rem;
                margin: 2rem;
                font-family: Arial, Helvetica, sans-serif;
                -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.308);
                -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.308);
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.308);
                .post-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 1rem;
                }
            
                .avatar {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 1rem;
            
                    & > img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            
                .user-info {
                    text-align: end;
                    & > h2 {
                        font-size: 1.8rem;
                        margin: 0;
                        margin-bottom: 0.5rem;
                    }
                }
            
                .post-date {
                    font-size: 14px;
                    color: #999;
                }
            
                .favorite-button {
                    & > button {
                        background-color: transparent;
                        border: none;
                        padding: 0;
                        font-size: 14px;
                        cursor: pointer;
                        
                        svg {
                            width: 24px;
                            height: 24px;
                        }
            
                        
                    }
                    & > button.favorite {
                        color: #f7d440;
            
                        &:hover {
                            color: #ffed85;
                        }
                    }
                }
            
                .post_image_div {
                    width: 100%;
                    margin-bottom: 1rem;
                    height: 18rem;
                    display: flex;
                    justify-content: center;
                    align-content: center;
            
                    & > img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            
                .post-content {
                    margin-top: 2rem;
                    & > h3 {
                        font-size: 2rem;
                        margin: 0;
                        margin-bottom: 10px;
                    }
            
                    & > p {
                        font-size: 1.4rem;
                        margin: 0;
                        margin-bottom: 20px;
                        line-height: 1.5;
                        word-wrap: break-word;
                        color: $txt_cl_2;
                    }
                }
            
                .post-tags {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 10px;
            
                    .tag {
                        background-color: #6b00e5e8;
                        border-radius: 20px;
                        padding: 5px 10px;
                        font-size: 14px;
                        margin-right: 1rem;
                        margin-bottom: 0.5rem;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            
                .post-actions {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    bottom: 1rem;
            
                    button, a{
                        background-color: transparent;
                        border: none;
                        border-radius: 30px;
                        padding: 10px;
                        font-size: 14px;
                        margin-left: 20px;
                        transition: background-color 0.2s ease;
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        color: whitesmoke;

                        & > h3 {
                            margin-left: 1rem;
                            color: whitesmoke;
                        }
                    }
            
                    & > .like {
                        & > svg {
                            cursor: pointer;
                            transition: 0.2s;
                            &:hover {
                                stroke-width: 2;
                                stroke: #1ca31e;
                                fill: #238925;
                            }
                        }
                    }
            
                    & > .dislike {
                        & > svg {
                            cursor: pointer;
                            transition: 0.2s;
                            &:hover {
                                stroke-width: 2;
                                stroke: #ff2b3d;
                                fill: #E32636;
                            }
                        }
                    }
            
                    & > .favorite {
                        & > svg {
                            cursor: pointer;
                            transition: 0.2s;
                            &:hover {
                                stroke-width: 3.5;
                                stroke: gold;
                                fill: gold;
                            }
                        }
            
                        
                    }
            
                    & > .comments {
                        & > svg {
                            cursor: pointer;
                            transition: 0.2s;
                            &:hover {
                                stroke-width: 3;
                                stroke: #e6e6e6;
                                fill: #e6e6e6;
                            }
                        }
                    }
            
                    @media screen and (max-width: 600px) {
                    
                        .post-header {
                            flex-direction: column;
                            align-items: flex-start;
                        }
            
                        .avatar {
                            margin-bottom: 10px;
                            margin-right: 0;
                        }
            
                        .user-info {
                            margin-bottom: 10px;
                        }
            
                        .post-content {
                            h3 {
                                font-size: 20px;
                            }
                        }
            
                        .post-actions {
                            flex-wrap: wrap;
                            button {
                                margin-bottom: 10px;
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
