::-webkit-scrollbar {
  width: 1.5rem;
  border-radius: 0 1rem 1rem 0;
  background-color: #1f1f1f; }

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #7b7b7b;
  border: 0.5rem solid #1f1f1f; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke; }

body {
  background-color: #101010;
  width: 100%;
  height: 100vh;
  display: grid;
  overflow-x: hidden;
  grid-template-columns: 0.8fr repeat(4, 1fr) 0.8fr;
  grid-template-rows: 0.4fr repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.goBack {
  left: 2rem;
  top: 6rem;
  color: #1f1f1f;
  padding: 0.8rem 2.5rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  position: absolute;
  outline: none;
  background: #f9513e;
  border: none;
  z-index: 1;
  font-size: 1.6rem; }
  .goBack::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #ff3d3d;
    transition: all 0.3s ease; }
  .goBack:hover {
    color: #000000; }
    .goBack:hover:after {
      left: 0;
      width: 100%; }
  .goBack:active {
    top: 6.5rem; }

header {
  position: fixed;
  width: 100%;
  z-index: 1; }

main {
  grid-area: 2 / 1 / 7 / 7;
  padding: 2rem;
  height: auto;
  margin-top: 2rem; }
  main > section {
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.308);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.308);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.308);
    background-color: #181818;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.308);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.308);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.308);
    overflow: hidden;
    width: 100%;
    height: 40rem;
    display: flex; }
    @media screen and (max-width: 771px) {
      main > section {
        flex-direction: column;
        height: 50rem; } }
    main > section > div {
      padding: 3rem;
      display: flex;
      align-items: center;
      width: 50%; }
      @media screen and (max-width: 771px) {
        main > section > div {
          width: 100%;
          justify-content: center;
          align-items: center; } }
      main > section > div:nth-child(1) {
        display: flex;
        align-items: start;
        justify-content: start; }
        main > section > div:nth-child(1) > div {
          height: 20rem; }
          main > section > div:nth-child(1) > div:nth-child(1) > img {
            width: 20rem;
            border: 3px solid;
            border-color: 1px solid rgba(137, 137, 137, 0.794);
            border-radius: 50%; }
            @media screen and (max-width: 1000px) {
              main > section > div:nth-child(1) > div:nth-child(1) > img {
                width: 10rem; } }
          main > section > div:nth-child(1) > div:nth-child(2) {
            margin-left: 3rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column; }
            main > section > div:nth-child(1) > div:nth-child(2) > div {
              width: 100%; }
              main > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > h1 {
                font-size: 4.4rem; }
                main > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > h1 > a {
                  color: rgba(245, 245, 245, 0.519);
                  font-size: 2.4rem;
                  transition: 0.2s; }
                  main > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > h1 > a:hover {
                    color: whitesmoke; }
                @media screen and (max-width: 1000px) {
                  main > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > h1 {
                    font-size: 3.4rem; } }
              main > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > h3 {
                margin-left: 0.5rem;
                font-size: 1.5rem;
                color: #a7a7a7;
                margin-top: 1rem; }
                @media screen and (max-width: 1000px) {
                  main > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > h3 {
                    font-size: 1rem; } }
              main > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div {
                margin-top: 1.2rem;
                padding-left: 0.5rem; }
                main > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div > a {
                  font-size: 1.2rem;
                  transition: 0.2s;
                  color: #acacac; }
                  @media screen and (max-width: 1000px) {
                    main > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div > a {
                      font-size: 1rem; } }
                  main > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div > a:nth-child(2) {
                    margin-left: 2rem; }
                  main > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div > a:nth-child(1):hover {
                    color: whitesmoke; }
                  main > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div > a:nth-child(2):hover {
                    color: whitesmoke; }
              main > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
                padding: 0 1rem;
                display: flex;
                flex-direction: column; }
                @media screen and (max-width: 1000px) {
                  main > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
                    width: 85%; } }
                main > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > h1 {
                  margin-bottom: 2rem; }
                  @media screen and (max-width: 1000px) {
                    main > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > h1 {
                      font-size: 1.4rem; } }
                main > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  max-width: 100%;
                  flex-wrap: wrap; }
                  main > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div > img {
                    flex-direction: row;
                    width: 4rem;
                    padding: 0.5rem;
                    border-radius: 50%;
                    border: 1px solid;
                    border-color: #2c2c2c; }
                    @media screen and (max-width: 1000px) {
                      main > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div > img {
                        width: 3rem; } }
      main > section > div:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        border-left: 1px solid #373737; }
        @media screen and (max-width: 771px) {
          main > section > div:nth-child(2) {
            border: none; } }
        main > section > div:nth-child(2) > div {
          width: 100%;
          height: 100%;
          display: flex;
          padding: 2rem 0 2rem 6rem;
          justify-content: center;
          align-items: start;
          flex-direction: column;
          border-bottom: 1px solid #373737; }
          main > section > div:nth-child(2) > div > h1 {
            font-size: 2rem;
            margin-bottom: 3rem; }
            @media screen and (max-width: 1000px) {
              main > section > div:nth-child(2) > div > h1 {
                font-size: 1.4rem;
                margin-bottom: 2rem; } }
          main > section > div:nth-child(2) > div > div {
            display: flex;
            justify-content: space-between;
            align-items: center; }
            main > section > div:nth-child(2) > div > div > h3 {
              font-size: 1.4rem; }
              @media screen and (max-width: 1000px) {
                main > section > div:nth-child(2) > div > div > h3 {
                  font-size: 1rem; } }
            main > section > div:nth-child(2) > div > div > div {
              width: 25rem;
              background-color: #3f3f3f;
              margin: 0 2rem;
              height: 50%; }
              @media screen and (max-width: 1000px) {
                main > section > div:nth-child(2) > div > div > div {
                  width: 18rem; } }
              main > section > div:nth-child(2) > div > div > div div {
                width: 43%;
                height: 100%;
                background: linear-gradient(90deg, #4568dc, #b06ab3);
                transition: width 0.5s ease-in-out; }

/*# sourceMappingURL=style.css.map */
