::-webkit-scrollbar {
  width: 1.5rem;
  border-radius: 0 1rem 1rem 0;
  background-color: #1f1f1f; }

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #7b7b7b;
  border: 0.5rem solid #1f1f1f; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke; }

body {
  background-color: #101010;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.8fr repeat(4, 1fr) 0.8fr;
  grid-template-rows: 0.4fr repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; }
  body > a > button {
    left: 2rem;
    top: 9rem;
    color: #1f1f1f;
    padding: 1rem 2.5rem;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    position: absolute;
    outline: none;
    background: #f9513e;
    border: none;
    z-index: 1;
    font-size: 1.6rem; }
    body > a > button::after {
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -1;
      background-color: #ff3d3d;
      transition: all 0.3s ease; }
    body > a > button:hover {
      color: #000000; }
      body > a > button:hover:after {
        left: 0;
        width: 100%; }
    body > a > button:active {
      top: 9.5rem; }

menu {
  height: 100%;
  padding: 3rem 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #101010;
  border-radius: 10px;
  border: 1px solid #373737; }
  @media (min-width: 1400px) {
    menu {
      grid-area: 1 / 1 / 6 / 2;
      display: flex; } }
  menu > a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: whitesmoke;
    opacity: 80%;
    transition: 0.2s; }
    menu > a:hover {
      cursor: pointer;
      opacity: 100%; }
    menu > a > img {
      width: 60%;
      aspect-ratio: 1/1;
      border: 1px solid silver;
      border-radius: 50%;
      margin-bottom: 1.4em; }
    menu > a > h1 {
      font-size: 3rem; }
    menu > a > div {
      margin-top: 3rem;
      width: 65%;
      border-radius: 5px;
      padding: 1rem;
      font-size: 1.4rem; }
    menu > a > .admin {
      border: 1px solid #ffd500;
      background-color: #ffd90056; }
    menu > a > .user {
      border: 1px solid #3cff00;
      background-color: #5eff0056; }
    menu > a > span {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 65%;
      margin-top: 2rem;
      font-size: 1.4rem; }
      menu > a > span > dl {
        margin-bottom: 0.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between; }

main {
  grid-area: 2 / 1 / 7 / 7;
  padding: 1rem 8rem;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 8em;
  overflow-x: hidden;
  overflow-y: auto; }
  main > section {
    width: 100%;
    border: 1px solid #373737;
    border-radius: 8px;
    background-color: #181818;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    padding: 2rem 5rem;
    margin-bottom: 4rem; }
    main > section:nth-child(1) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      main > section:nth-child(1) > div:nth-child(1) > h1 {
        font-size: 4rem;
        margin-bottom: 3rem; }
      main > section:nth-child(1) > div:nth-child(1) > span {
        display: flex;
        justify-content: center;
        align-items: center; }
        main > section:nth-child(1) > div:nth-child(1) > span > div {
          opacity: 50%; }
        main > section:nth-child(1) > div:nth-child(1) > span > div, main > section:nth-child(1) > div:nth-child(1) > span > div > a {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          color: whitesmoke;
          transition: 0.2s; }
          main > section:nth-child(1) > div:nth-child(1) > span > div > img, main > section:nth-child(1) > div:nth-child(1) > span > div > a > img {
            width: 2rem;
            margin-right: 0.5rem; }
          main > section:nth-child(1) > div:nth-child(1) > span > div:nth-child(1):hover, main > section:nth-child(1) > div:nth-child(1) > span > div > a:nth-child(1):hover {
            opacity: 100%; }
          main > section:nth-child(1) > div:nth-child(1) > span > div:not(:nth-child(1)), main > section:nth-child(1) > div:nth-child(1) > span > div > a:not(:nth-child(1)) {
            margin-left: 3rem; }
      @media (max-width: 700px) {
        main > section:nth-child(1) > div:nth-child(2) {
          display: none; } }
      main > section:nth-child(1) > div:nth-child(2) > button {
        background-color: #181818;
        border: none;
        width: 3rem;
        height: 3rem;
        opacity: 60%;
        transition: 0.2s; }
        main > section:nth-child(1) > div:nth-child(2) > button > img {
          width: 100%;
          height: 100%; }
        main > section:nth-child(1) > div:nth-child(2) > button:hover {
          cursor: pointer;
          opacity: 100%; }
      main > section:nth-child(1) > div:nth-child(2) > span {
        width: 15rem;
        border: 1px solid red;
        position: fixed;
        margin-left: -18rem;
        margin-top: -7rem;
        display: none;
        justify-content: center;
        align-items: center;
        border: 1px solid #3f3f3f;
        border-radius: 10px;
        background: #262834;
        background: linear-gradient(138deg, #1b1c25 0%, #1f1818 100%); }
        main > section:nth-child(1) > div:nth-child(2) > span > ul {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          list-style: none;
          padding: 0.5rem 0; }
          main > section:nth-child(1) > div:nth-child(2) > span > ul > li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 5rem;
            font-size: 1.6rem;
            padding: 0.5rem 1rem; }
            main > section:nth-child(1) > div:nth-child(2) > span > ul > li > a {
              color: whitesmoke;
              width: 100%;
              height: 100%;
              font-size: 1.4rem;
              border-radius: 1rem;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0.5rem 1.5rem;
              user-select: none;
              transition: 0.3s; }
              main > section:nth-child(1) > div:nth-child(2) > span > ul > li > a > img {
                margin-right: 1rem;
                width: 2rem; }
            main > section:nth-child(1) > div:nth-child(2) > span > ul > li:first-child:hover > a {
              background-color: #bd802a; }
            main > section:nth-child(1) > div:nth-child(2) > span > ul > li:last-child:hover > a {
              background-color: #e74646; }
    main > section:nth-child(2) {
      display: grid;
      grid-template-columns: 0.8fr repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px; }
      main > section:nth-child(2) menu dd, main > section:nth-child(2) menu dt {
        font-size: 1.2rem; }
      main > section:nth-child(2) > span {
        grid-area: 1 / 2 / 6 / 6;
        padding: 1rem 3rem; }
        @media (max-width: 1400px) {
          main > section:nth-child(2) > span {
            grid-area: 1 / 1 / 6 / 6; } }
        main > section:nth-child(2) > span > div {
          width: 100%; }
          main > section:nth-child(2) > span > div:nth-child(1) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            margin-bottom: 2rem; }
            main > section:nth-child(2) > span > div:nth-child(1) > span {
              width: 100%; }
              main > section:nth-child(2) > span > div:nth-child(1) > span:nth-child(2) {
                width: 100%;
                height: 2px;
                background-color: #373737;
                margin-top: 1rem; }
              main > section:nth-child(2) > span > div:nth-child(1) > span:nth-child(1) {
                display: flex;
                justify-content: space-between;
                align-items: center; }
                main > section:nth-child(2) > span > div:nth-child(1) > span:nth-child(1) > div {
                  display: flex;
                  justify-content: center;
                  align-items: center; }
                  main > section:nth-child(2) > span > div:nth-child(1) > span:nth-child(1) > div > img {
                    margin-right: 1.4rem;
                    width: 2rem; }
                  main > section:nth-child(2) > span > div:nth-child(1) > span:nth-child(1) > div > h3 {
                    font-size: 1.4rem;
                    font-weight: normal; }
                  main > section:nth-child(2) > span > div:nth-child(1) > span:nth-child(1) > div:nth-child(2) > img {
                    opacity: 70%;
                    transition: 0.2s; }
                    main > section:nth-child(2) > span > div:nth-child(1) > span:nth-child(1) > div:nth-child(2) > img:hover {
                      opacity: 100%;
                      cursor: pointer; }
          main > section:nth-child(2) > span > div:nth-child(2) {
            padding: 3rem; }
            @media (max-width: 1033px) {
              main > section:nth-child(2) > span > div:nth-child(2) {
                padding: 0.5rem; } }
            main > section:nth-child(2) > span > div:nth-child(2) > img {
              width: 60rem;
              margin-bottom: 4rem; }
              @media (max-width: 1033px) {
                main > section:nth-child(2) > span > div:nth-child(2) > img {
                  width: 90%; } }
            main > section:nth-child(2) > span > div:nth-child(2) > p {
              color: #a7a7a7;
              font-weight: normal;
              font-size: 1.8rem;
              word-spacing: 2px; }
    main > section:nth-child(3) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row; }
      main > section:nth-child(3) > div:nth-child(1) > img {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        border: 1px solid silver; }
        @media (max-width: 1300px) {
          main > section:nth-child(3) > div:nth-child(1) > img {
            width: 6.8rem;
            margin-right: 2rem; } }
      main > section:nth-child(3) > div:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 60%; }
        main > section:nth-child(3) > div:nth-child(2) > form {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between; }
          main > section:nth-child(3) > div:nth-child(2) > form > textarea, main > section:nth-child(3) > div:nth-child(2) > form > button {
            background-color: #101010;
            border: 1px solid #373737;
            display: flex;
            justify-content: center;
            align-items: center; }
          main > section:nth-child(3) > div:nth-child(2) > form > textarea {
            width: 94%;
            height: 100%;
            border-radius: 10px;
            padding: 1.8rem;
            font-size: 1.8rem;
            color: whitesmoke;
            outline: none;
            resize: vertical; }
            @media (max-width: 1300px) {
              main > section:nth-child(3) > div:nth-child(2) > form > textarea {
                height: 90%;
                margin-right: 1rem; } }
          main > section:nth-child(3) > div:nth-child(2) > form > button {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            transition: 0.2s;
            margin-left: 1rem; }
            @media (max-width: 1300px) {
              main > section:nth-child(3) > div:nth-child(2) > form > button {
                width: 6.5rem;
                height: 6rem; } }
            main > section:nth-child(3) > div:nth-child(2) > form > button:hover {
              cursor: pointer;
              background-color: #373737; }
  main .comment {
    display: flex;
    justify-content: center;
    align-items: center; }
    main .comment > div {
      width: 100%;
      display: grid;
      grid-template-columns: 0.8fr repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px; }
      main .comment > div:nth-child(1) {
        margin-bottom: 3rem; }
        main .comment > div:nth-child(1) > menu > a > img {
          width: 15rem; }
        main .comment > div:nth-child(1) > menu dd, main .comment > div:nth-child(1) > menu dt {
          font-size: 1.2rem; }
        main .comment > div:nth-child(1) > span {
          grid-area: 1 / 2 / 6 / 6;
          padding: 2rem; }
          main .comment > div:nth-child(1) > span > p {
            font-size: 2rem; }
      main .comment > div:nth-child(2) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #a7a7a7;
        padding-top: 1rem; }
        main .comment > div:nth-child(2) > span {
          display: flex;
          justify-content: space-evenly;
          align-items: center; }
          main .comment > div:nth-child(2) > span:nth-child(1) > div {
            opacity: 50%; }
          main .comment > div:nth-child(2) > span:nth-child(1) > div, main .comment > div:nth-child(2) > span:nth-child(1) > div > a, main .comment > div:nth-child(2) > span:nth-child(1) > div > form {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            color: whitesmoke;
            transition: 0.2s; }
            main .comment > div:nth-child(2) > span:nth-child(1) > div > img, main .comment > div:nth-child(2) > span:nth-child(1) > div > a > img, main .comment > div:nth-child(2) > span:nth-child(1) > div > form > img {
              width: 2rem;
              margin-right: 0.5rem; }
            main .comment > div:nth-child(2) > span:nth-child(1) > div:nth-child(1):hover, main .comment > div:nth-child(2) > span:nth-child(1) > div > a:nth-child(1):hover, main .comment > div:nth-child(2) > span:nth-child(1) > div > form:nth-child(1):hover {
              opacity: 100%; }
            main .comment > div:nth-child(2) > span:nth-child(1) > div:not(:nth-child(1)), main .comment > div:nth-child(2) > span:nth-child(1) > div > a:not(:nth-child(1)), main .comment > div:nth-child(2) > span:nth-child(1) > div > form:not(:nth-child(1)) {
              margin-left: 3rem; }
          main .comment > div:nth-child(2) > span:nth-child(1) > div:nth-child(3) {
            cursor: pointer; }
            main .comment > div:nth-child(2) > span:nth-child(1) > div:nth-child(3) > form {
              padding: 0.6rem 1.5rem 0.8rem 1.5rem;
              border-radius: 5px; }
              main .comment > div:nth-child(2) > span:nth-child(1) > div:nth-child(3) > form > svg {
                margin-right: 0.5rem;
                width: 20px;
                height: 20px; }
              main .comment > div:nth-child(2) > span:nth-child(1) > div:nth-child(3) > form > button {
                background-color: transparent;
                color: white;
                border: none;
                outline: none;
                font-size: 1.1rem; }
            main .comment > div:nth-child(2) > span:nth-child(1) > div:nth-child(3):hover {
              opacity: 100%; }
              main .comment > div:nth-child(2) > span:nth-child(1) > div:nth-child(3):hover > form {
                background-color: #ac1616a2; }
          main .comment > div:nth-child(2) > span:nth-child(2) {
            margin-top: 0.5rem; }
            main .comment > div:nth-child(2) > span:nth-child(2) > form {
              display: flex;
              justify-content: space-between;
              align-items: center; }
              main .comment > div:nth-child(2) > span:nth-child(2) > form > button {
                background-color: transparent;
                border: none;
                outline: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: whitesmoke;
                margin-left: 1rem; }
                main .comment > div:nth-child(2) > span:nth-child(2) > form > button svg {
                  width: 2.4rem;
                  height: 2.4rem;
                  transition: 0.3s; }
                main .comment > div:nth-child(2) > span:nth-child(2) > form > button:nth-child(2):hover {
                  cursor: pointer; }
                  main .comment > div:nth-child(2) > span:nth-child(2) > form > button:nth-child(2):hover svg {
                    stroke: #38ac3a; }
                main .comment > div:nth-child(2) > span:nth-child(2) > form > button:nth-child(3):hover {
                  cursor: pointer; }
                  main .comment > div:nth-child(2) > span:nth-child(2) > form > button:nth-child(3):hover svg {
                    stroke: #ac1616; }
                main .comment > div:nth-child(2) > span:nth-child(2) > form > button svg {
                  margin-right: 0.5rem; }
                main .comment > div:nth-child(2) > span:nth-child(2) > form > button > dl {
                  display: flex;
                  justify-content: center;
                  align-content: center; }
                  main .comment > div:nth-child(2) > span:nth-child(2) > form > button > dl > dd {
                    display: flex;
                    align-items: center;
                    font-size: 1.8rem; }

/*# sourceMappingURL=style.css.map */
