input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #101010 inset;
  -webkit-text-fill-color: white !important;
  font-size: 1.5rem !important;
}

::-webkit-scrollbar {
  width: 1.5rem;
  border-radius: 0 1rem 1rem 0;
  background-color: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #7b7b7b;
  border: 0.5rem solid #1f1f1f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

body {
  background-color: #101010;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.8fr repeat(5, 1fr);
  grid-template-rows: 0.4fr repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
}
body > header {
  grid-area: 1/1/2/7;
}
body > menu {
  height: 100%;
  grid-area: 2/1/7/2;
}
body > main {
  grid-area: 2/2/7/7;
}

main {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
@media screen and (max-width: 1000px) {
  main {
    padding: 1rem;
  }
}
main > form {
  width: 100%;
  height: 100%;
}
main > form > section:nth-child(1) {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  main > form > section:nth-child(1) {
    margin-bottom: 5rem;
    padding: 4rem 0 0 4rem;
  }
}
main > form > section:nth-child(1) > div {
  border-radius: 50%;
}
main > form > section:nth-child(1) > div:nth-child(1) {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > form > section:nth-child(1) > div:nth-child(1) > img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  transition: 0.2s;
}
@media screen and (max-width: 1400px) {
  main > form > section:nth-child(1) > div:nth-child(1) > img {
    width: 15rem;
    height: 15rem;
  }
}
@media screen and (max-width: 1000px) {
  main > form > section:nth-child(1) > div:nth-child(1) > img {
    width: 10rem;
    height: 10rem;
  }
}
main > form > section:nth-child(1) > div:nth-child(1) > img:nth-child(2) {
  margin-left: -14.5rem;
  margin-right: 2rem;
  z-index: 1;
  width: 10rem;
  border-radius: 0;
}
@media screen and (max-width: 1400px) {
  main > form > section:nth-child(1) > div:nth-child(1) > img:nth-child(2) {
    width: 8rem;
    height: 8rem;
    margin-left: -11.4rem;
  }
}
@media screen and (max-width: 1000px) {
  main > form > section:nth-child(1) > div:nth-child(1) > img:nth-child(2) {
    width: 5rem;
    height: 5rem;
    margin-left: -7.5rem;
  }
}
main > form > section:nth-child(1) > div:nth-child(1) > img:nth-child(1) {
  border: 2px solid silver;
  opacity: 60%;
}
main > form > section:nth-child(1) > div:nth-child(1):hover {
  cursor: pointer;
}
main > form > section:nth-child(1) > div:nth-child(1):hover > img:nth-child(1) {
  opacity: 70%;
}
main > form > section:nth-child(1) > div:nth-child(2) {
  margin-left: 5rem;
  border-radius: 0;
}
@media screen and (max-width: 900px) {
  main > form > section:nth-child(1) > div:nth-child(2) {
    margin-left: 2rem;
  }
}
main > form > section:nth-child(1) > div:nth-child(2) > h1 {
  font-size: 4rem;
}
@media screen and (max-width: 1400px) {
  main > form > section:nth-child(1) > div:nth-child(2) > h1 {
    font-size: 3.4rem;
  }
}
@media screen and (max-width: 900px) {
  main > form > section:nth-child(1) > div:nth-child(2) > h1 {
    font-size: 2.8rem;
  }
}
main > form > section:nth-child(1) > div:nth-child(2) > h3 {
  color: rgb(167, 167, 167);
  font-size: 1.4rem;
}
@media screen and (max-width: 1400px) {
  main > form > section:nth-child(1) > div:nth-child(2) > h3 {
    font-size: 1rem;
  }
}
main > form > section:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main > form > section:nth-child(2) {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main > form > section:nth-child(2) > span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  width: 80%;
}
@media screen and (max-width: 1000px) {
  main > form > section:nth-child(2) > span {
    flex-direction: column;
    border-bottom: 1px solid rgb(51, 51, 51);
  }
}
main > form > section:nth-child(2) > span > div {
  width: 90%;
  height: 4rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 50%;
}
main > form > section:nth-child(2) > span > div:first-child {
  margin-right: 20rem;
}
@media screen and (max-width: 1000px) {
  main > form > section:nth-child(2) > span > div:first-child {
    margin-right: 0;
  }
}
main > form > section:nth-child(2) > span > div > img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0 0.5rem;
  width: 2.4rem;
  transition: 0.2s;
}
main > form > section:nth-child(2) > span > div > input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #101010;
  outline: none;
  color: whitesmoke;
  padding-left: 0.5rem;
  font-size: 1.5rem;
}
main > form > section:nth-child(2) > span > div > input::-moz-placeholder {
  color: whitesmoke;
}
main > form > section:nth-child(2) > span > div > input::placeholder {
  color: whitesmoke;
}
main > form > section:nth-child(2) > span > div:focus-within {
  opacity: 100%;
}
main > form > section:nth-child(2) > textarea {
  width: 50%;
  height: 20rem;
  resize: none;
  outline: none;
  background-color: #181818;
  border: 1px solid silver;
  margin-bottom: 2rem;
  padding: 2rem;
  color: whitesmoke;
  border-radius: 5px;
}
@media screen and (max-width: 1000px) {
  main > form > section:nth-child(2) > textarea {
    width: 80%;
    height: 10rem;
  }
}
main > form > section:nth-child(2) > button {
  display: none;
}
main > form > section:nth-child(3) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > form > section:nth-child(3) > button {
  width: 60%;
  height: 5rem;
  color: #1f1f1f;
  padding: 1rem 2.5rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  background: #fed221;
  border: none;
  z-index: 1;
  font-size: 2rem;
  margin-top: 2rem;
}
@media screen and (max-width: 1000px) {
  main > form > section:nth-child(3) > button {
    width: 80%;
    margin-bottom: 10rem;
  }
}
main > form > section:nth-child(3) > button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #ffef3d;
  transition: all 0.3s ease;
}
main > form > section:nth-child(3) > button:hover {
  color: #000000;
}
main > form > section:nth-child(3) > button:hover:after {
  left: 0;
  width: 100%;
}
main > form > section:nth-child(3) > button:active {
  top: 0.2rem;
}/*# sourceMappingURL=style.css.map */