$bgc_1: #101010;
$bgc_2: #181818;

$txt_cl_1: whitesmoke;
$txt_cl_2: rgb(167, 167, 167);
$txt_cl_3: rgba(245, 245, 245, 0.519);


@mixin likes_mix {
    & > svg {
        width: 2.4rem;
        height: 2.4rem;
        transition: 0.3s;
    } 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}   

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: $txt_cl_1;
}

body {
    background-color: $bgc_1;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.8fr repeat(4, 1fr) 0.8fr;
    grid-template-rows: 0.4fr repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;
}

main {
    grid-area: 2 / 1 / 7 / 7;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    & > section {
        &:nth-child(1) {
            margin-bottom: 2rem;
            width: 100%;
            padding: 2.2rem;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-evenly;
            margin-top: -8rem;

            @media screen and (max-width: 800px) {
                margin-top: 2rem;
            }

            @media screen and (max-width: 1290px) {
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
            }

            & > div {
                -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.308);
                -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.308);
                box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.308);
                overflow: hidden;
                width: 38rem;
                height: 35rem;
                border-radius: 10px;
                background-color: $bgc_2;
                margin-bottom: 2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                padding: 1rem;
                outline: hidden;
                opacity: 90%;
                transition: 0.2s;

                &:hover {
                    opacity: 100%;
                }

            }



            & > .img-post {

                a:hover ~ & {
                    background-color: lightblue;
                }

                & > div {
                    // border: 1px solid red;
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    &:nth-child(1) {
                        margin-top: 2rem;
                        max-height: 60%;
                    }

                    &:nth-child(2) {
                        // border: 1px solid blue;
                        padding: 2rem 2rem 1rem 2rem;
                        justify-content: space-between;
                    }

                    & > div {
                        // border: 1px solid blue;
                        display: flex;
                        justify-content: center;

                        &:nth-child(1) {
                            margin-right: 2rem;
                            flex-direction: column;
                            justify-content: space-evenly;

                            & > a { 
                                & > h1 {
                                    font-size: 2rem;
                                    display: flex;
                                    align-items: center;
                                    color: whitesmoke;
                                    margin-bottom: 0.5rem;
                                    & > span {
                                        margin-left: 0.5rem;
                                        font-size: 1.4rem;
                                    }
                                }

                                & > div {
                                    display: flex;
                                    justify-content: space-between;
                                    width: 80%;
                                    margin-bottom: 0.5rem;
                                    & > p {
                                        color: $txt_cl_3;
                                    }
                                }


                                & > h3 {
                                    font-size: 1.2rem;
                                    color: $txt_cl_2;
                                }


                            }
                        }

                        &:nth-child(2) {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            & > div {
                                // border: 1px solid red;

                                &:nth-child(1) {
                                    margin-bottom: 2rem;
                                    opacity: 60%;
                                    transition: 0.2s;

                                    & > a {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: whitesmoke;
                                        & > img {
                                            width: 4rem;
                                            height: 4rem;
                                            margin-right: 1rem;
                                        }
                                    }

                                    &:hover {
                                        cursor: pointer;
                                        opacity: 100%;
                                    }
                                
                                }

                                &:nth-child(2) {

                                    & > form {
                                        width: 100%;
                                        display: flex;
                                        justify-content: space-evenly;

                                        & > button {
                                            background-color: transparent;
                                            border: none;
                                            outline: none;
                                            display: flex;
                                            flex-direction: column;
                                            align-items: center;
                                            color: $txt_cl_1;

                                            & > svg {
                                                width: 2.4rem;
                                                height: 2.4rem;
                                                transition: 0.3s;
                                            }     
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }


            & > .simple-post {
                padding: 1.5rem 3rem;

                & > div {
                    width: 100%;
                    margin-bottom: 2rem;

                    &:nth-child(1) {
                        margin-right: 2rem;
                        flex-direction: column;
                        justify-content: space-evenly;

                        & > a { 
                            & > h1 {
                                font-size: 2rem;
                                display: flex;
                                align-items: center;
                                color: whitesmoke;
                                margin-top: 1rem;
                                margin-bottom: 2rem;

                                & > span {
                                    margin-left: 0.5rem;
                                    font-size: 1.4rem;
                                }
                            }

                            & > div {
                                display: flex;
                                justify-content: space-between;
                                width: 70%;
                                margin-bottom: 1rem;

                                & > p {
                                    color: $txt_cl_3;
                                }
                            }


                            & > h3 {
                                font-size: 1.2rem;
                                color: $txt_cl_2;
                            }
                        }
                    }

                    &:nth-child(2) {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;                        
                        & > div {

                            &:nth-child(1) {
                                padding: 1rem 0;
                                opacity: 60%;
                                transition: 0.2s;

                                & > a {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: whitesmoke;
                                    & > img {
                                        width: 4rem;
                                        height: 4rem;
                                        margin-right: 1rem;
                                    }
                                }

                                &:hover {
                                    cursor: pointer;
                                    opacity: 100%;
                                }
                            
                            }

                            &:nth-child(2) {
                                height: 90%;
                                & > form {
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: end;
                                    align-items: end;

                                    & > button {
                                        background-color: transparent;
                                        border: none;
                                        outline: none;
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        color: $txt_cl_1;

                                        &:not(:last-child) {
                                            margin-right: 1rem;
                                        }

                                        & > svg {
                                            width: 2.4rem;
                                            height: 2.4rem;
                                            transition: 0.3s;
                                        } 
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &:nth-child(2) {
            margin-top: 4rem;
            width: 100%;
            display: flex;
            justify-content:center;
            align-items: center;
            padding: 3rem;
            
            & > form { 
                margin-left: 5rem;
                & > button {
                    width: 100%;
                    height: 100%;
                    background: rgb(255, 66, 60);
                    
                    &::after {
                        background-color: rgb(255, 36, 28);
                    }
                }
            }


            & > button, & > form {
                width: 14%;
                height: 5rem;
                
                @media (max-width: 900px) {
                    width: 12%;
                    height: 4.4rem;            
                }

                & > button, & {
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

           

            button {
                color: #1f1f1f;
                padding: 1rem 2.5rem;
                background: transparent;
                cursor: pointer;
                transition: all 0.3s ease;
                position: relative;
                display: inline-block;
                outline: none;
                background: #fed221;
                border: none;
                z-index: 1;
                font-size: 2rem;

                @media (max-width: 900px) {
                    font-size: 1.4rem;  
                }

                &::after {
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 100%;
                    top: 0;
                    right: 0;
                    z-index: -1;
                    background-color: #ffef3d;
                    transition: all 0.3s ease;
                    border-radius: 5px;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -ms-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                }

                &:hover {
                    color: #000000;
                    &:after {
                        left: 0;
                        width: 100%;
                    }
                }
                &:active {
                    top: 0.2rem;
                }
            }
        }
    }
}