::-webkit-scrollbar {
  width: 1.5rem;
  border-radius: 0 1rem 1rem 0;
  background-color: #1f1f1f; }

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #7b7b7b;
  border: 0.5rem solid #1f1f1f; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke; }

body {
  background-color: #101010;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.8fr repeat(4, 1fr) 0.8fr;
  grid-template-rows: 0.4fr repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden; }
  @media screen and (max-width: 800px) {
    body {
      padding-bottom: 11rem; } }

.unread_message_div {
  aspect-ratio: 1/1;
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 0.3rem 0.5rem 0.5rem 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #766ac8;
  background: -moz-linear-gradient(142deg, #766ac8 0%, #6152c8 100%); }
  .unread_message_div > h1 {
    font-size: 1.5rem;
    color: whitesmoke; }

.chatlist_urm {
  width: 5rem;
  height: 5rem;
  padding: 0.5rem; }
  .chatlist_urm > h1 {
    font-size: 2.4rem; }

.chat_list {
  grid-area: 2 / 6 / 7 / 7;
  background-color: #181818;
  padding: 2rem 0 0 0;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: -13px 0px 20px 0px rgba(0, 0, 0, 0.308);
  -moz-box-shadow: -13px 0px 20px 0px rgba(0, 0, 0, 0.308);
  box-shadow: -13px 0px 20px 0px rgba(0, 0, 0, 0.308);
  overflow-x: hidden;
  overflow-y: auto; }
  @media screen and (max-width: 1290px) {
    .chat_list {
      display: none; } }
  .chat_list > h1 {
    font-size: 3rem; }
  .chat_list > div {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 1rem; }
    .chat_list > div > a {
      font-size: 2rem;
      text-decoration: none;
      color: black;
      margin-bottom: 1.4rem;
      border: 1px solid #414141;
      border-radius: 14px;
      padding: 0.5rem 1rem;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      transition: 0.2s; }
      .chat_list > div > a:hover {
        cursor: pointer; }
        .chat_list > div > a:hover:not(.active) {
          background-color: #c0972f; }
      .chat_list > div > a > span {
        display: flex;
        align-items: center; }
        .chat_list > div > a > span:nth-child(1) > img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          border: 1px solid #414141; }
        .chat_list > div > a > span:nth-child(1) > h1 {
          color: whitesmoke;
          margin-left: 1rem;
          font-size: 1.8rem; }
    .chat_list > div > .active {
      background-color: #daa51e; }

main {
  grid-area: 2 / 2 / 7 / 6;
  font-size: 3rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.1fr repeat(3, 1fr) 0.4fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; }
  @media screen and (max-width: 1290px) {
    main {
      grid-area: 2 / 1 / 7 / 7; } }
  @media screen and (max-width: 1290px) {
    main {
      grid-area: 2 / 1 / 7 / 7; } }

.active_user_info {
  grid-area: 1 / 1 / 2 / 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #181818;
  border-left: 1px solid #414141;
  border-right: 1px solid #414141; }
  .active_user_info .back_button > img {
    width: 4rem;
    height: 4rem; }
    @media screen and (max-width: 800px) {
      .active_user_info .back_button > img {
        width: 3.4rem;
        height: 3.4rem; } }
  .active_user_info > a {
    width: auto;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    color: whitesmoke;
    opacity: 0.8;
    transition: 0.2s;
    text-align: center; }
    .active_user_info > a:hover {
      cursor: pointer;
      opacity: 1; }
    .active_user_info > a > img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%; }
      @media screen and (max-width: 800px) {
        .active_user_info > a > img {
          width: 4.4rem;
          height: 4.4rem; } }
    .active_user_info > a > span {
      margin-left: 1rem; }
      .active_user_info > a > span > h1 {
        width: 100%;
        font-size: 3rem; }
        @media screen and (max-width: 800px) {
          .active_user_info > a > span > h1 {
            font-size: 1.8rem; } }
      .active_user_info > a > span > h3 {
        width: 100%;
        font-size: 1.3rem;
        color: #a7a7a7; }
        @media screen and (max-width: 800px) {
          .active_user_info > a > span > h3 {
            font-size: 0.8rem; } }

.messages_div {
  grid-area: 2 / 1 / 5 / 6;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 3rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column; }
  .messages_div > .message_block {
    margin-bottom: 1rem;
    padding: 0 3rem;
    display: flex; }
    @media screen and (max-width: 800px) {
      .messages_div > .message_block {
        padding: 0 1rem; } }
    .messages_div > .message_block > .message {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.2rem 1.8rem;
      border-radius: 10px;
      background-color: #1e1e1e;
      display: flex;
      justify-content: space-between;
      align-content: center; }
      @media screen and (max-width: 800px) {
        .messages_div > .message_block > .message {
          padding: 0.8rem 1.4rem; } }
      .messages_div > .message_block > .message > h1 {
        font-weight: 100;
        font-size: 2rem; }
      .messages_div > .message_block > .message > h3 {
        font-size: 1.4rem;
        margin-left: 1.5rem;
        display: flex;
        align-items: end;
        height: 100%;
        color: #a7a7a7; }
      .messages_div > .message_block > .message > p {
        display: flex;
        align-items: end;
        height: 100%;
        padding-top: 0.5rem;
        margin-left: 1rem; }
        .messages_div > .message_block > .message > p > img {
          width: 1.8rem;
          color: #b0b0b0; }
  .messages_div > .companion_message {
    justify-content: start; }
  .messages_div > .user_message {
    justify-content: end; }
    .messages_div > .user_message > .message {
      background: #766ac8;
      background: -moz-linear-gradient(142deg, #766ac8 0%, #6152c8 100%);
      background: -webkit-linear-gradient(142deg, #766ac8 0%, #6152c8 100%);
      background: linear-gradient(142deg, #766ac8 0%, #6152c8 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#766ac8",endColorstr="#6152c8",GradientType=1); }

.send_div {
  grid-area: 5 / 1 / 6 / 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  background-color: #181818;
  border-left: 2px solid #414141;
  border-right: 1px solid #414141; }

.send_inp {
  height: 50%;
  width: 94%;
  padding: 1rem 1rem 1rem 3rem;
  border-radius: 30px;
  background: #101010;
  border: 2px solid #414141;
  outline: none;
  color: whitesmoke;
  font-size: 1.4rem; }
  @media screen and (max-width: 800px) {
    .send_inp {
      width: 80%; } }

.send_btn {
  height: 5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #101010;
  border: 2px solid #414141;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 0.2rem;
  transition: 0.2s; }
  .send_btn:hover {
    cursor: pointer;
    background-color: #181818; }
  .send_btn > img {
    width: 54%;
    height: 54%; }

.select_user {
  width: 100%;
  height: 100%;
  grid-area: 1 / 1 / 6 / 6;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto; }
  .select_user > a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    text-decoration: none;
    color: whitesmoke;
    transition: 0.2s;
    z-index: 1;
    border-bottom: 1px solid #414141; }
    .select_user > a:hover {
      border-radius: 10px;
      border: 1px solid #414141;
      cursor: pointer;
      background: #1e1e1e; }
    .select_user > a > span {
      display: flex;
      align-items: center; }
      .select_user > a > span:nth-child(1) > img {
        width: 6rem;
        height: 6rem;
        margin-right: 2rem;
        border-radius: 50%; }
      .select_user > a > span:nth-child(1) > span {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start; }
        .select_user > a > span:nth-child(1) > span > h1 {
          font-size: 2.4rem; }
        .select_user > a > span:nth-child(1) > span > h3 {
          font-size: 1rem;
          color: #a7a7a7; }

/*# sourceMappingURL=style.css.map */
