{% extends 'main/base.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'main/css/confirm_delete/style.css' %}">
{% endblock %}

{% block title %} SmartChat | Confirmation deletion {% endblock %}

{% block main %} 

    <main class = "pls_check">
        <section>
                {% if post.post_image %}
                    <div class="post">
                        <div>
                            <div class="post-header">
                                <a href="{% url 'user_profile' post.sender.id %}">
                                    <img class="avatar" src="{{ post.sender.avatar.url }}" alt="User Avatar">
                                </a>

                                <div class="user-info">
                                    <a href="{% url 'user_profile' post.sender.id %}">
                                        <h2 class="username">{{ post.sender.username }}</h2>
                                    </a>
                                    <p class="post-date">{{ post.date_created }}</p>
                                </div>
                            </div>

                            <a style = "color:whitesmoke;" href="{% url 'post_page' post.id %}">
                                <div class="post-content">
                                    {% if post.post_title|length > 20  %}
                                    <h3 class="post-title"> {{ post.post_title|slice:":20" }}... </h3>
                                    {% else %}
                                    <h3 class="post-title"> {{ post.post_title }} </h3>
                                    {% endif %}
                                
                                    <div class = "post_image_div">
                                        <img class="post_image" src="{{ post.post_image.url }}" alt="Post Image">
                                    </div>
                                
                                    {% if post.post_text|length > 76  %}
                                    <p class="post-text"> {{ post.post_text|slice:":76" }}... </p>
                                    {% else %}
                                    <p class="post-text"> {{ post.post_text }} </p>
                                    {% endif %}

                                    <div class="post-tags">
                                        {% for tag in post.post_tags.all|slice:":3" %}
                                        <span class="tag"> #{{ tag }} </span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    
                        <form class="post-actions">
                            {% csrf_token %}
                            <button class="like"> 
                                {% if user in post.likers.all %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#238925" stroke="#1ca31e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                {% endif %}

                                <h3> {{ post.likers.count }} </h3>
                            </button>
                        
                            <button class="dislike"> 
                                {% if user in post.dislikers.all %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#E32636" stroke="#ff2b3d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="Whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                {% endif %}


                                <h3> {{ post.dislikers.count }} </h3>

                            </button>
                        
                            <a href="{% url 'post_page' post.id %}" class="comments"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                                <h3> {{ post.comments.count }} </h3>
                            </a>
                        
                        
                            <button class="favorite"> 
                                {% if i in user.favorites.all %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="gold" stroke="gold" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                {% endif %} 
                            </button>
                        </form>
                    </div>
                {% else %}
                    <div class="post">
                        <div>
                            <div class="post-header">
                                <a href="{% url 'user_profile' post.sender.id %}">
                                    <img class="avatar" src="{{ post.sender.avatar.url }}" alt="User Avatar">
                                </a>
                                
                                <div class="user-info">
                                    <a href="{% url 'user_profile' post.sender.id %}">
                                    <h2 class="username">{{ post.sender.username }}</h2>
                                </a>
                                    <p class="post-date">{{ post.date_created }}</p>
                                </div>
                            </div>

                            <a style = "color:whitesmoke;" href="{% url 'post_page' post.id %}">
                                <div class="post-content">
                                    {% if post.post_title|length > 20  %}
                                    <h3 class="post-title"> {{ post.post_title|slice:":20" }}... </h3>
                                    {% else %}
                                    <h3 class="post-title"> {{ post.post_title }} </h3>
                                    {% endif %}


                                    {% if post.post_text|length > 465  %}
                                    <p class="post-text"> {{ post.post_text|slice:":465" }}... </p>
                                    {% else %}
                                    <p class="post-text"> {{ post.post_text }} </p>
                                    {% endif %}

                                    <div class="post-tags">
                                        {% for tag in post.post_tags.all|slice:":3" %}
                                        <span class="tag"> #{{ tag }} </span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    
                    
                        <form class="post-actions">
                            {% csrf_token %}
                            <button class="like"> 
                                {% if user in post.likers.all %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#238925" stroke="#1ca31e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                {% endif %}
                                <h3> {{ post.likers.count }} </h3>
                            </button>
                        
                            <button class="dislike"> 
                                {% if user in post.dislikers.all %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#E32636" stroke="#ff2b3d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="Whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                {% endif %}


                                <h3> {{ post.dislikers.count }} </h3>

                            </button>
                        
                        
                            <a href="{% url 'post_page' post.id %}" class="comments"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                                <h3> {{ post.comments.count }} </h3>
                            </a>
                        
                        
                            <button class="favorite"> 
                                {% if i in user.favorites.all %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="gold" stroke="gold" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                {% endif %} 
                            </button>
                        </form>
                    </div>
                {% endif %}
        </section>

        <section>
            <a href="{% url 'post_page' post.id %}"> <button> Cancel </button> </a>
            <form method = "post">
                {% csrf_token %}
                <button type = "submit"> Delete </button>
            </form>
        </section>

    </main>
{% endblock %}