* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}

body {
  background-color: #101010;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.8fr repeat(4, 1fr) 0.8fr;
  grid-template-rows: 0.4fr repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
}

main {
  grid-area: 2/1/7/7;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
main > section:nth-child(1) {
  margin-bottom: 2rem;
  width: 100%;
  padding: 2.2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: -8rem;
}
@media screen and (max-width: 800px) {
  main > section:nth-child(1) {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 1290px) {
  main > section:nth-child(1) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}
main > section:nth-child(1) .post {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 35rem;
  min-height: 52rem;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  margin: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.308);
}
main > section:nth-child(1) .post .post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
main > section:nth-child(1) .post .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 70%;
  transition: 0.2s;
}
main > section:nth-child(1) .post .avatar:hover {
  opacity: 100%;
}
main > section:nth-child(1) .post .user-info {
  text-align: end;
}
main > section:nth-child(1) .post .user-info > a > h2 {
  color: rgb(199, 199, 199);
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 0.5rem;
  transition: 0.2s;
}
main > section:nth-child(1) .post .user-info > a > h2:hover {
  color: whitesmoke;
}
main > section:nth-child(1) .post .post-date {
  font-size: 14px;
  color: #999;
}
main > section:nth-child(1) .post .favorite-button > button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
}
main > section:nth-child(1) .post .favorite-button > button svg {
  width: 24px;
  height: 24px;
}
main > section:nth-child(1) .post .favorite-button > button.favorite {
  color: #f7d440;
}
main > section:nth-child(1) .post .favorite-button > button.favorite:hover {
  color: #ffed85;
}
main > section:nth-child(1) .post .post_image_div {
  width: 100%;
  margin-bottom: 1rem;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
main > section:nth-child(1) .post .post_image_div > img {
  max-width: 100%;
  max-height: 100%;
}
main > section:nth-child(1) .post .post-content {
  margin-top: 2rem;
}
main > section:nth-child(1) .post .post-content > h3 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 10px;
}
main > section:nth-child(1) .post .post-content > p {
  font-size: 1.4rem;
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.5;
  word-wrap: break-word;
  color: rgb(167, 167, 167);
}
main > section:nth-child(1) .post .post-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
main > section:nth-child(1) .post .post-tags .tag {
  background-color: rgba(107, 0, 229, 0.9098039216);
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
main > section:nth-child(1) .post .post-tags .tag:last-child {
  margin-right: 0;
}
main > section:nth-child(1) .post .post-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 1rem;
}
main > section:nth-child(1) .post .post-actions button, main > section:nth-child(1) .post .post-actions a {
  background-color: transparent;
  border: none;
  border-radius: 30px;
  padding: 10px;
  font-size: 14px;
  margin-left: 20px;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: whitesmoke;
}
main > section:nth-child(1) .post .post-actions button > h3, main > section:nth-child(1) .post .post-actions a > h3 {
  margin-left: 1rem;
  color: whitesmoke;
}
main > section:nth-child(1) .post .post-actions > .like > svg {
  cursor: pointer;
  transition: 0.2s;
}
main > section:nth-child(1) .post .post-actions > .like > svg:hover {
  stroke-width: 2;
  stroke: #1ca31e;
  fill: #238925;
}
main > section:nth-child(1) .post .post-actions > .dislike > svg {
  cursor: pointer;
  transition: 0.2s;
}
main > section:nth-child(1) .post .post-actions > .dislike > svg:hover {
  stroke-width: 2;
  stroke: #ff2b3d;
  fill: #E32636;
}
main > section:nth-child(1) .post .post-actions > .favorite > svg {
  cursor: pointer;
  transition: 0.2s;
}
main > section:nth-child(1) .post .post-actions > .favorite > svg:hover {
  stroke-width: 3.5;
  stroke: gold;
  fill: gold;
}
main > section:nth-child(1) .post .post-actions > .comments > svg {
  cursor: pointer;
  transition: 0.2s;
}
main > section:nth-child(1) .post .post-actions > .comments > svg:hover {
  stroke-width: 3;
  stroke: #e6e6e6;
  fill: #e6e6e6;
}
@media screen and (max-width: 600px) {
  main > section:nth-child(1) .post .post-actions .post-header {
    flex-direction: column;
    align-items: flex-start;
  }
  main > section:nth-child(1) .post .post-actions .avatar {
    margin-bottom: 10px;
    margin-right: 0;
  }
  main > section:nth-child(1) .post .post-actions .user-info {
    margin-bottom: 10px;
  }
  main > section:nth-child(1) .post .post-actions .post-content h3 {
    font-size: 20px;
  }
  main > section:nth-child(1) .post .post-actions .post-actions {
    flex-wrap: wrap;
  }
  main > section:nth-child(1) .post .post-actions .post-actions button {
    margin-bottom: 10px;
    margin-left: 0;
  }
}
main > section:nth-child(2) {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
main > section:nth-child(2) > form {
  margin-left: 5rem;
}
main > section:nth-child(2) > form > button {
  width: 100%;
  height: 100%;
  background: rgb(255, 66, 60);
}
main > section:nth-child(2) > form > button::after {
  background-color: rgb(255, 36, 28);
}
main > section:nth-child(2) > a > button {
  width: 100%;
  height: 100%;
}
main > section:nth-child(2) > a, main > section:nth-child(2) > form {
  width: 14%;
  height: 5rem;
}
@media (max-width: 900px) {
  main > section:nth-child(2) > a, main > section:nth-child(2) > form {
    width: 12%;
    height: 4.4rem;
  }
}
main > section:nth-child(2) > a > button, main > section:nth-child(2) > a, main > section:nth-child(2) > form > button, main > section:nth-child(2) > form {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > section:nth-child(2) button {
  color: #1f1f1f;
  padding: 1rem 2.5rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  background: #fed221;
  border: none;
  z-index: 1;
  font-size: 2rem;
}
@media (max-width: 900px) {
  main > section:nth-child(2) button {
    font-size: 1.4rem;
  }
}
main > section:nth-child(2) button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #ffef3d;
  transition: all 0.3s ease;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
main > section:nth-child(2) button:hover {
  color: #000000;
}
main > section:nth-child(2) button:hover:after {
  left: 0;
  width: 100%;
}
main > section:nth-child(2) button:active {
  top: 0.2rem;
}/*# sourceMappingURL=style.css.map */