input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #2f2f2f inset;
  -webkit-text-fill-color: white !important;
  font-size: 1.8rem !important; }

header {
  grid-area: 1 / 1 / 2 / 7;
  border-bottom: 1px solid #373737;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #101010;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 3rem;
  z-index: 50; }
  header > div:nth-child(1) {
    opacity: 70%;
    display: flex;
    align-items: center;
    transition: 0.2s;
    margin-right: 2rem; }
    header > div:nth-child(1) > span {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
      border: 2px solid silver;
      margin-right: 1rem;
      border-radius: 50%;
      outline: hidden;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-content: center; }
      header > div:nth-child(1) > span > img {
        height: 100%;
        border-radius: 50%; }
    header > div:nth-child(1) > h1 {
      user-select: none;
      font-weight: bold;
      font-size: 1.5rem;
      margin-right: 1rem; }
    header > div:nth-child(1) > div {
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid gold;
      border-radius: 45%; }
      header > div:nth-child(1) > div > h1 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0.2rem;
        font-size: 1.5rem;
        user-select: none; }
    header > div:nth-child(1):hover {
      cursor: pointer;
      opacity: 100%; }
  header > div:nth-child(2) {
    width: 8%;
    height: 2.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    header > div:nth-child(2) > div {
      width: 100%;
      height: 0.8rem;
      background-color: #545454;
      overflow: hidden;
      border-radius: 3px; }
      header > div:nth-child(2) > div > div {
        height: 100%;
        background: linear-gradient(90deg, #4568dc, #b06ab3);
        transition: width 0.5s ease-in-out; }
    @media screen and (max-width: 1250px) {
      header > div:nth-child(2) {
        display: none; } }
  header > div:nth-child(3) {
    height: 100%;
    flex-grow: 1;
    margin: 0 10rem;
    display: flex;
    justify-content: start;
    align-items: center; }
    header > div:nth-child(3) > form {
      width: 50%;
      height: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #2f2f2f;
      border-radius: 5px;
      padding: 0.5rem; }
      header > div:nth-child(3) > form > input {
        background-color: #2f2f2f;
        width: 94%;
        height: 100%;
        border: none;
        outline: none;
        color: whitesmoke;
        padding-left: 1rem; }
      header > div:nth-child(3) > form > button {
        width: 6%;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        display: flex;
        padding-top: 0.3rem;
        display: flex;
        justify-content: center;
        align-content: center;
        border-left: 1px solid silver;
        cursor: pointer; }
        header > div:nth-child(3) > form > button > img {
          width: 20px;
          opacity: .7;
          transition: 0.2s; }
        header > div:nth-child(3) > form > button:hover > img {
          opacity: 1; }
    @media screen and (max-width: 1250px) {
      header > div:nth-child(3) {
        display: none; } }
  header > div:nth-child(4) {
    height: 5rem;
    display: flex;
    margin-right: 2rem; }
    header > div:nth-child(4) > a {
      display: flex;
      align-items: center;
      font-size: 2.2rem;
      background: radial-gradient(ellipse farthest-side at top center, #e8c812 50%, #ffb700 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
      opacity: .9;
      transition: 0.2s; }
      header > div:nth-child(4) > a:hover {
        opacity: 1; }

/*# sourceMappingURL=style.css.map */
