<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/dop/header/style.css">    
    <link rel="stylesheet" href="./css/dop/set_menu/style.css">    
    <link rel="stylesheet" href="./css/confirm_delete/style.css">

    <title> SmartChat | Confirmation deletion  </title>
</head>
<body>

    <!-- HEADER START  -->
    <header>
        <div onclick="OpenSettingsWindow()">
            <img src="img/default_avatar.png" alt="User Avatar">
            <h1> Suro299 </h1>
            <div>
                <h1> 1 </h1>
            </div>
        </div>
        
        <div>
            <p>43 px</p>
            <div>
                <div style = "width: 43%;" ></div>
            </div>
        </div>
        
        <div>
            <input type="text" placeholder="Search...  #id / @username / word">
        </div>
        
        <div>
            <h1> SmartChat </h1>
        </div>
    
    </header>
    <!-- HEADER END -->
    
    <main class = "pls_check">
        <section>
            
            <!-- ETE NKAR KA  -->
            <!-- <div href = "" class = "img-post">
                <div>
                    <a href="./post_page.html" >
                        <img src="./img/load_imgae.jpeg" alt="">
                    </a>
                </div>

                <div>
                    <div>
                        <a href="./post_page.html" >
                            <h1> Title<span> (#id) </span> </h1>
                            <div>
                                <p>#Python</p>
                                <p>#django</p>
                                <p>#JavaScript</p>
                            </div>
                            <h3> s simply dummy text of the printing </h3>
                        </a>
                    </div>   
                    
                    <div>
                        <div>
                            <a href="/user_profile.html">
                                <img src="img/default_avatar.png" alt="">
                                <h2> Suro299 </h2>
                            </a>
                        </div>
                        
                        <div>

                            <form method="post">
                                <button type = "submit" onclick="alert('!! Hly patrast chi !!');"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                    0 
                                </button>

                                <button type = "submit" onclick="alert('!! Hly patrast chi !!');"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 24" fill="none" stroke="Whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                    
                                    0 
                                </button>
                                
                                <button  type = "submit" onclick="alert('!! Hly patrast chi !!');"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>                                   
                                    0 
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div> -->


            <!-- ETE NKAR CHKA -->
            <div class = "simple-post">
                <div>
                    <a href="./post_page.html" >
                        <h1> Title <span> (#id) </span> </h1>
                        
                        <div>
                            <p>#Python</p>
                            <p>#django</p>
                            <p>#JavaScript</p>
                        </div>
                        
                        <h3> 
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type 
                            specimen book. It has survived not only five centuries, but also the leap 
                            into electronic typesetting, remaining essentially unchanged. It was 
                            popularised in the 1960s with the release of Letraset sheets containing 
                            Lorem Ipsum passages, and more recently with desktop publishing software 
                            like Aldus PageMaker including versions of Lorem Ipsum. 
                        </h3>

                        
                    </a>
                </div>

                <div>
                    <div>
                        <a href="./user_profile.html">
                            <img src="img/default_avatar.png" alt="">
                            <h2> Suro299 </h2>
                        </a>
                    </div>
                    
                    <div>

                        <!-- CHMORANAS METHODY POST TAS -->
                        <form>
                            <button type = "submit" onclick="alert('!! Hly patrast chi !!');"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                0 
                            </button>

                            <button type = "submit" onclick="alert('!! Hly patrast chi !!');"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 24" fill="none" stroke="Whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                
                                0 
                            </button>
                            
                            <button onclick="alert('!! Hly patrast chi !!');"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>                                   
                                0 
                            </button>
                        </form>
                        
                    </div>
                </div>

            </div>
        </section>

        <section>
            <button onclick="history.back()" > Cancel </button>
            
            <form method="post">
                <button> Delete </button>
            </form>
        </section>

    </main>
    
    <!-- SETTINGS MENU START -->
    <div id = "settings_menu" class = "menu_left">
        <ul>
            <li><h3> Signed in as <span> Suro299 </span> </h3></li>
            <hr>
            <li><a href="./user_profile.html" > <img src="icon/user.svg" alt=""> My Profile </a></li>
            <hr>
            <li><a href="./posts.html" > <img src="icon/posts.svg" alt=""> Go To Posts </a></li>
            <li><a href="./404.html" > <img src="icon/message.svg" alt=""> Go To Chats </a></li>
            <hr>
            <li><a href="./profil_settings.html"> <img src="./icon/user_settings.svg" alt=""> Profile Settings</a></li>
            <li><a href="./404.html"> <img src="./icon/settings.svg" alt=""> Site Settings </a></li>
            <hr>
            <li><a href="./contact_us.html"> <img src="./icon/contact-us.svg" alt=""> Contact Us </a></li>
            <li><a href="./about_us.html"> <img src="./icon/about-us.svg" alt=""> About Us </a></li>
            <li><a href="./lastest_update.html"> <img src="./icon/refresh-cw.svg" alt=""> Latest update </a></li>
            <hr>
            <li><a href = "./404.html" > <img src="./icon/log-out.svg" alt="">  Log-out </a></li>
        </ul>
    </div>
    <!-- SETTINGS MENU END -->


    <!-- START JS -->
    <script src="./js/dop.js"></script>
    <!-- END JS -->
</body>
</html>