{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{% static 'main/css/home/style.css' %}">
    <title> Home </title>
</head>
<body>
    <header>
        <div>
            <h1> <span>Smart</span> Chat </h1>
        </div>

        <div>
            <section>
                <a href="">
                    <button class="active_tab" >
                        <span > Home </span> 
                    </button>
                </a>
            </section>

            <h1> | </h1>

            <section>
                <a href="">
                    <button>
                        <span> Chat </span> 
                    </button>
                </a>
            </section>
        </div>

        <div>
            <!-- <a href="#"><button id = "user_button" class="user_button"> {{user.username }} </button></a> -->
            <a href="#"> <img id = "user_button" class="user_button_icon" src="{% static './main/default_avatars/default_avatar.png' %}" width="45px" alt="B"> </a>

        </div>
    </header>
    
    <nav class = "users_list">
        <div>
            <h1> Users </h1>
            <ul>
            
                <li> 
                    <img src="{% static './main/default_avatars/default_avatar.png' %}" alt=""> 
                    {% if user.is_staff %}
                        <a href=""> <h2> {{ user.username }} <span style="color: #ffd800;"> (Staff) </span></h2></a>
                    {% else %}
                    <a href=""> <h2> {{ user.username }} <span style="color: rgb(82, 193, 49);"> (User) </span></h2> </a>
                    {% endif %}
                </li>
            
            
                {% for i in user_list%}
                    {% if i.username != user.username %}
                        <li> 
                            <img src="{% static './main/default_avatars/default_avatar.png' %}" alt=""> 
                            {% if i.is_staff %}
                                <a href=""> <h2> {{ i.username }} <span style="color: #ffd800;"> (Staff) </span></h2></a>
                            {% else %}
                            <a href=""> <h2> {{ i.username }} <span style="color: rgb(82, 193, 49);"> (User) </span></h2> </a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
                    
            </ul>
            </div>
    </nav>



    <main>
        <section>
            <div> POST </div>
            <div> POST </div>
            <div> POST </div>
            <div> POST </div>
            <div> POST </div>
            <div> POST </div>
            <div> POST </div>
            <div> POST </div>
            <div> POST </div>
            <div> POST </div>
            <div> POST </div>
        </section>
      
        <span>
            <form method="post">
                <input type="text" placeholder="Add post">
                <button type="submit"> Go </button>
            </form>
        </span>

    </main>



    <div id = "settings_window" class = "settings_window">
        <ul>
            <a href=""><li > Singned in as <b>{{user.username }}</b> </li></a>
            <hr>
            <a href=""><li> Profile settings </li></a>
            <a href=""><li> Site Settings </li></a>
            <hr>
            <a href=""><li> Contact Us</li></a>
            <a href=""><li> About Us </li></a>
            <hr>
            <a href="{% url 'logout' %}"><li> Sing Out </li></a>
            
        </ul>
    </div>



    <footer id = "footer">
        

        <div>
            <section>
                <a href="">
                    <button class="active_tab" >
                        <span > Home </span> 
                    </button>
                </a>
            </section>

            <div id = "footer_button_div" class="footer_up_down">
                <button id = "footer_button">
                    ⇡
                </button>
            </div>

            <section>
                <a href="">
                    <button>
                        <span> Chat </span> 
                    </button>
                </a>
            </section>
        </div>
    </footer>

    <script src="{% static 'main/js/home/app.js' %}"></script>

</body>
</html>