{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/home/style.css' %}">
    <title> Posts </title>
</head>
<body>

    <header>
        <section>
            <h1> <span>Smart</span> Chat </h1>
        </section>

        <section>
            <input type="text" placeholder = "Search">
        </section>

        <section>
            <button> <img src="{% static 'main/default_avatars/default_avatar.png'%}" alt=""> </button>
            <h3> Suro299 </h3>
        </section>
    </header>
    <menu>
        <p> A list of users </p>
        <hr>
        <ul>

            {% for i in user_list%}
                {% if i.is_staff %}
                    <li>
                        <a href="">
                            <img src="{% static 'main/default_avatars/default_avatar.png'%}" alt="">
                            <h3 style = "color: rgba(230, 174, 8, 0.721)" > {{ i.username }} </h3>
                        </a>
                    </li>
                {% else %}
                    <li style = "box-shadow: 17px 0px 1px 0px rgba(71, 208, 52, 0.89) inset;">
                        <a href="">
                            <img src="{% static 'main/default_avatars/default_avatar.png'%}" alt="">
                            <h3> {{ i.username }} </h3>
                        </a>
                    </li>
                {% endif%}
            {% endfor %}
        </ul>
    </menu>

    <main>
        
    </main>

    <nav>
        <section>
            <h1> Friends </h1>

            <span>
                
                <img src="{% static 'main/default_avatars/default_avatar.png'%}" alt=""></div>
                <img src="{% static 'main/default_avatars/default_avatar.png'%}" alt=""></div>
                <img src="{% static 'main/default_avatars/default_avatar.png'%}" alt=""></div>
                <img src="{% static 'main/default_avatars/default_avatar.png'%}" alt=""></div>
                <img src="{% static 'main/default_avatars/default_avatar.png'%}" alt=""></div>
                <img src="{% static 'main/default_avatars/default_avatar.png'%}" alt=""></div>
            </span>
        </section>
        
        <section>
            <h1> Account Statistics </h1>

            <span>

                <div class = "stat_div">
                    <h2> Posts posted </h2>
                    <p> 25 </p>
                    <div>
                        <div style = "width: 25%;">  </div>
                    </div>
                </div>

                <div class = "stat_div" >
                    <h2> Reactions </h2>
                    <p> 80 </p>
                    <div>
                        <div style = "width: 80%;">  </div>
                    </div>
                </div>

                <div class = "stat_div" >
                    <h2> Points </h2>
                    <p> 430 </p>
                    <div>
                        <div style = "width: 43%;">  </div>
                    </div>
                </div>

            </span>
        </section>
    </nav>

</body>
</html>