{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/home/style.css' %}">
    <title> Posts </title>
</head>
<body>

    <div class="background_imgae">
        <img  src="{% static 'main/img/backgrounds/home_bgp.jpg'%}" alt="">
    </div>

    <div class = "menu_left">

        <ul>
            <li>{{user.username }}</li>
            <hr>
            <li> Go To Chats </li>
            <hr>
            <li>User Settings</li>
            <li>Site Settings</li>
            <hr>
            <li> LogOut</li>
        </ul>
    </div>
    
    <header>

        <section>
            <h1> <span>Smart</span> Chat </h1>
        </section>

        <section>
            <input type="text" placeholder = "Search">
        </section>

        <section>
            <button> <img src="{{ user.avatar.url }}" alt=""> </button>
            <h3> {{ user.username }} </h3>
        </section>
    </header>
    <menu>
        <p> A list of users </p>
        <hr>
        <ul>

            {% for i in user_list%}
                {% if i.is_staff %}
                    <li>
                        <a href="">
                            <img src="{{ i.avatar.url }}" alt="">
                            <h3 style = "color: rgba(230, 174, 8, 0.721)" > {{ i.username }} </h3>
                        </a>
                    </li>
                {% else %}
                    <li style = "box-shadow: 17px 0px 1px 0px rgba(71, 208, 52, 0.89) inset;">
                        <a href="">
                            <img src="{{ i.avatar.url }}" alt="User avatar">
                            <h3> {{ i.username }} </h3>
                        </a>
                    </li>
                {% endif%}
            {% endfor %}

        </ul>
    </menu>

    <main>

        {% for i in post_list%}
        <section  class = "post">
            <div>
                <span>
                    <p> #{{ i.id }} </p>
                </span>
                {% if i.post_image %}
                    <img src="{{ i.post_image.url }}" alt="">
                {% else %}
                    <img src="{% static 'main/img/backgrounds/load_imgae.jpeg'%}" alt="">
                {% endif %}
            </div>

            <div>
                <h1> {{ i.post_title }} </h1>

                <span>
                    <p> {{ i.post_tags }} </p>
                </span>

                <a class = "post_text" href = "">
                    {{ i.post_text }}
                </a>

                <a href="">
                    <span>
                        <img src="{{ i.sender.avatar.url }}" alt="">

                        <h1> {{ i.sender.username }} </h1>
                    </span>
                </a>

                <span>
                    <form method="post">
                        {% csrf_token %}

                        {% if user in i.likers.all %}
                            <dl><button value = "{{i.id}}" name = "btn_l" type="submit"><img style=" filter: drop-shadow(0 0 1rem rgb(72, 255, 0));  width: 2.5rem;" src="{% static 'main/icon/home/active_like.svg' %}" alt="like"> </button> <p> {{ i.likers.count }} </p> </dl>
                        {% else %}
                            <dl><button value = "{{i.id}}" name = "btn_l" type="submit"><img src="{% static 'main/icon/home/like.svg' %}" alt="like"> </button> <p> {{ i.likers.count }} </p> </dl>
                        {% endif %}

                        {% if user in i.dislikers.all %}
                            <dl><button value = "{{i.id}}" name = "btn_d" type="submit"><img style = "filter: drop-shadow(0 0 1rem rgb(255, 0, 0)); width: 2.3rem;" src="{% static 'main/icon/home/active_dislike.svg' %}" alt="dislike"> </button> <p> {{ i.dislikers.count }} </p> </dl>
                        {% else %}
                            <dl><button value = "{{i.id}}" name = "btn_d" type="submit"><img src="{% static 'main/icon/home/dislike.svg' %}" style = "width: 2.3rem;" alt="dislike"> </button> <p> {{ i.dislikers.count  }} </p> </dl>
                        {% endif %}
                        
                        <dl><a href=""><img src="{% static 'main/icon/home/comment.svg' %}" alt="Comment"> </> <p> {{ i.comments }} </p></a> </dl>
                    </form>
                </span>
            </div>
        </section>
        {% endfor %}
    
    </main>

    <footer>
        <a href="{% url 'add_post' %}"> <button> Add Post </button> </a>
    </footer>

    <nav>
        <section>
            <h1> Friends </h1>

            <span>
                
                <img src="{% static 'main/default_avatars/default_avatar.png'%}" alt=""></div>
                <img src="{% static 'main/default_avatars/default_avatar.png'%}" alt=""></div>
                <img src="{% static 'main/default_avatars/default_avatar.png'%}" alt=""></div>
                <img src="{% static 'main/default_avatars/default_avatar.png'%}" alt=""></div>
                <img src="{% static 'main/default_avatars/default_avatar.png'%}" alt=""></div>
                <img src="{% static 'main/default_avatars/default_avatar.png'%}" alt=""></div>
            </span>
        </section>
        
        <section>
            <h1> Account Statistics </h1>

            <span>

                <div class = "stat_div">
                    <h2> Posts posted </h2>
                    <p> {{ user.posts_posted}} </p>
                    <div>
                        <div style = "width: {{ user.posts_posted }}%;">  </div>
                    </div>
                </div>
                
                
                <div class = "stat_div" >
                    <h2> Reactions </h2>
                    <p> {{ user.reactions }} </p>
                    <div>
                        <div style = "width: {{ user.reactions }}%;">  </div>
                    </div>
                </div>

                <div class = "stat_div" >
                    <h2> Points </h2>
                    <p> {{ user.points }} </p>
                    <div>
                        <div style = "width: {{ user.points }}%;">  </div>
                    </div>
                </div>

            </span>
        </section>
    </nav>

</body>
</html>