{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/email_verif/style.css' %}">
    <title> SmartChat | Invalid Link </title>
</head>
<body>
    
    <main class="invalid_link_img">

        <img class="invalid_link_img" src="{% static 'main/img/invalid_link.svg' %}" alt="">

        <h1> This link is no longer active </h1>

        <div>
            <a href="{% url 'register' %}"> <button> registration </button> </a>
        </div>

    </main>

</body>
</html>