<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/dop/header/style.css">
    <link rel="stylesheet" href="./css/dop/set_menu/style.css">
    <link rel="stylesheet" href="./css/lastest_update/style.css">

    <title> SmartChat | Updates </title>
</head>
<body>
    <!-- HEADER START  -->
    <header>
        <div onclick="OpenSettingsWindow()">
            <img src="img/default_avatar.png" alt="User Avatar">
            <h1> Suro299 </h1>
            <div>
                <h1> 1 </h1>
            </div>
        </div>
        
        <div>
            <p>43 px</p>
            <div>
                <div style = "width: 43%;" ></div>
            </div>
        </div>
        
        <div>
            <input type="text" placeholder="Search...  #id / @username / word">
        </div>
        
        <div>
            <h1> SmartChat </h1>
        </div>
    
    </header>
    <!-- HEADER END -->

    <button onclick="history.back()"> Go Back </button>

    <main>

        <section>
            <div>
                <h1>#2</h1>
                <span></span>
                <h1> 07/05/2023-23:32 </h1>
            </div>

            <div>
                <h1> Update Title</h1>

                <p> 
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, consequatur explicabo! Necessitatibus, error. 
                    Repellat repudiandae quia maiores quasi numquam rem, sint porro tempora itaque modi quidem incidunt fugit, 
                    atque nobis? Quae fugiat maxime repellat excepturi aliquam, rerum incidunt dolores voluptatum possimus. 
                    Cupiditate, animi cum sapiente, necessitatibus quos neque facilis quis quia recusandae fugit maxime 
                    perspiciatis at suscipit possimus in illum rem distinctio quod nisi dolore sint libero dolorem! Provident 
                    amet veniam officia, in sint quasi numquam expedita consequatur eum impedit voluptas vero error quae, nam 
                    quas nemo cum dolore omnis. Reprehenderit iusto quasi iste nesciunt maiores repellat sed aut vero ut soluta 
                    repellendus dolore, corporis animi debitis laudantium fugit est facere eveniet dicta! Iste atque non 
                    molestias id ea enim facilis fugiat voluptate numquam soluta nobis, dolor inventore iure, repellat 
                    repudiandae! Minima natus sit assumenda provident, accusamus laborum explicabo aperiam. Fugiat optio 
                    ab quam vel! Ad exercitationem illo impedit ea voluptate debitis, distinctio harum. Id eaque accusantium 
                    quis perspiciatis nam voluptatem odit maiores laudantium officiis doloremque delectus atque minus quo 
                    omnis architecto illum, porro dolores sed alias voluptatibus sint error placeat ratione. Tempora eos 
                    maiores vitae expedita in voluptate dolore doloremque. Ipsam nostrum provident, magni exercitationem 
                    fugit eius nulla aliquid iusto dolores fugiat commodi placeat error, necessitatibus recusandae nesciunt 
                    dolor eum consectetur doloribus facilis voluptates mollitia. Nobis cum culpa repellendus laborum necessitatibus 
                    reiciendis quibusdam maxime hic! Ut explicabo unde ipsum, ipsam ab in pariatur est commodi a suscipit? Amet 
                    ullam perspiciatis, vero molestias eum officia commodi voluptates quasi qui?
                </p>
            </div>
        </section>

        <section>
            <div>
                <h1>#1</h1>
                <span></span>
                <h1> 07/05/2023-23:32 </h1>
            </div>

            <div>
                <h1> Update Title</h1>

                <p> 
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, consequatur explicabo! Necessitatibus, error. 
                    Repellat repudiandae quia maiores quasi numquam rem, sint porro tempora itaque modi quidem incidunt fugit, 
                    atque nobis? Quae fugiat maxime repellat excepturi aliquam, rerum incidunt dolores voluptatum possimus. 
                    Cupiditate, animi cum sapiente, necessitatibus quos neque facilis quis quia recusandae fugit maxime 
                    perspiciatis at suscipit possimus in illum rem distinctio quod nisi dolore sint libero dolorem! Provident 
                    amet veniam officia, in sint quasi numquam expedita consequatur eum impedit voluptas vero error quae, nam 
                    quas nemo cum dolore omnis. Reprehenderit iusto quasi iste nesciunt maiores repellat sed aut vero ut soluta 
                    repellendus dolore, corporis animi debitis laudantium fugit est facere eveniet dicta! Iste atque non 
                    molestias id ea enim facilis fugiat voluptate numquam soluta nobis, dolor inventore iure, repellat 
                    repudiandae! Minima natus sit assumenda provident, accusamus laborum explicabo aperiam. Fugiat optio 
                    ab quam vel! Ad exercitationem illo impedit ea voluptate debitis, distinctio harum. Id eaque accusantium 
                    quis perspiciatis nam voluptatem odit maiores laudantium officiis doloremque delectus atque minus quo 
                    omnis architecto illum, porro dolores sed alias voluptatibus sint error placeat ratione. Tempora eos 
                    maiores vitae expedita in voluptate dolore doloremque. Ipsam nostrum provident, magni exercitationem 
                    fugit eius nulla aliquid iusto dolores fugiat commodi placeat error, necessitatibus recusandae nesciunt 
                    dolor eum consectetur doloribus facilis voluptates mollitia. Nobis cum culpa repellendus laborum necessitatibus 
                    reiciendis quibusdam maxime hic! Ut explicabo unde ipsum, ipsam ab in pariatur est commodi a suscipit? Amet 
                    ullam perspiciatis, vero molestias eum officia commodi voluptates quasi qui?
                </p>
            </div>
        </section>
    </main>

    
    <!-- SETTINGS MENU START -->
    <div id = "settings_menu" class = "menu_left">
        <ul>
            <li><h3> Signed in as <span> Suro299 </span> </h3></li>
            <hr>
            <li><a href="./user_profile.html" > <img src="icon/user.svg" alt=""> My Profile </a></li>
            <hr>
            <li><a href="./posts.html" > <img src="icon/posts.svg" alt=""> Go To Posts </a></li>
            <li><a href="./404.html" > <img src="icon/message.svg" alt=""> Go To Chats </a></li>
            <hr>
            <li><a href="./profil_settings.html"> <img src="./icon/user_settings.svg" alt=""> Profile Settings</a></li>
            <li><a href="./404.html"> <img src="./icon/settings.svg" alt=""> Site Settings </a></li>
            <hr>
            <li><a href="./contact_us.html"> <img src="./icon/contact-us.svg" alt=""> Contact Us </a></li>
            <li><a href="./about_us.html"> <img src="./icon/about-us.svg" alt=""> About Us </a></li>
            <li><a href="./lastest_update.html"> <img src="./icon/refresh-cw.svg" alt=""> Latest update </a></li>
            <hr>
            <li><a href = "./404.html" > <img src="./icon/log-out.svg" alt="">  Log-out </a></li>
        </ul>
    </div>
    <!-- SETTINGS MENU END -->


    <!-- START JS -->
    <script src="./js/dop.js"></script>
    <!-- END JS -->
</body>
</html>