{% load static %}

<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/login-register/style.css' %}">

    <title> SmartChat | Login </title>
</head>
<body>
    <div>

        <div>
            <h1> SmartChat </h1>
        </div>

        
        <div>
            <form method="post">
                {% csrf_token %} 
                <div>
                    <img src="{% static 'main/icon/user.svg' %}" alt="">
                    <input type="text" name="username" placeholder = "Username">
                </div>

                <div>
                    <img src="{% static 'main/icon/lock.svg' %} " alt="">
                    <input type="password" name="password" placeholder = "Password">
                </div>

                <button type="sumbit" class="custom-btn btn-15"> Login </button>

            </form>
        </div>

        <div>
            <a href=""> Forgot Password ? </a>
            <a href="{% url 'register' %}"> Create Account </a>
        </div>

    </div>
</body>
</html>