{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/email_verif/style.css' %}">
    <title> SmartChat | Email Veryfi </title>
</head>
<body>
    
    <main class = "pls_check">
        <img src="{% static 'main/img/email_verifi.svg' %}" alt="">

        <h1> Pleas Check Your Email Address</h1>
        <h3> Verify your Email to continue <br> using SmartChat </h3>
        <h4> <b> Email: </b> exeple@email.com </h4>

        <div>
            <a href="{% url 'register' %}"> <button> registration </button> </a>
            <a target = "_blank" href="https://mail.google.com/mail/" > <button> Gmail </button> </a>
        </div>
    </main>

</body>
</html>