{% extends 'main/base.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static './main/css/posts/style.css' %}">
{% endblock %}

{% block title %} SmartChat | Posts {% endblock %}

{% block main %} 
    <menu>
        <div>
            <h1> Pages </h1>
        </div>
        <hr>

        <ul>
            <li class = "active" ><a href="./posts.html"> <img src="{% static 'main/icon/posts.svg' %}" alt=""> Posts </a></li>
            <li><a href="{% url 'ftf' %}"> <img src="{% static 'main/icon/message.svg' %}" alt=""> Chat </a></li>
        </ul>

    </menu>

    <main>
        <section>
            <div></div>
            <a href="{% url 'create_post' %}"> <button> <span> + </span> Create </button> </a>
        </section>

        <section>
            <span>
                {% for i in posts_list%}
                    {% if i.post_image %}
                    <div class="post">
                        <div>
                            <div class="post-header">
                                <img class="avatar" src="{{ i.sender.avatar.url }}" alt="User Avatar">
                                <div class="user-info">
                                    <h2 class="username">{{ i.sender.username }}</h2>
                                    <p class="post-date">{{ i.date_created }}</p>
                                </div>
                            </div>

                        
                            <div class="post-content">
                                {% if i.post_title|length > 20  %}
                                <h3 class="post-title"> {{ i.post_title|slice:":20" }}... </h3>
                                {% else %}
                                <h3 class="post-title"> {{ i.post_title }} </h3>
                                {% endif %}
                            
                                <div class = "post_image_div">
                                    <img class="post_image" src="{{ i.post_image.url }}" alt="Post Image">
                                </div>
                            
                                {% if i.post_text|length > 76  %}
                                <p class="post-text"> {{ i.post_text|slice:":76" }}... </p>
                                {% else %}
                                <p class="post-text"> {{ i.post_text }} </p>
                                {% endif %}

                                <div class="post-tags">
                                    {% for tag in i.post_tags.all|slice:":3" %}
                                    <span class="tag"> #{{ tag }} </span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    
                        <form method="post" class="post-actions">
                            {% csrf_token %}
                            <button name = "btn_l" value = "{{ i.id }}" type="submit" class="like"> 
                                {% if user in i.likers.all %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#238925" stroke="#1ca31e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                {% endif %}

                                <h3> {{ i.likers.count }} </h3>
                            </button>
                        
                            <button name = "btn_d" value = "{{ i.id }}" type="submit" class="dislike"> 
                                {% if user in i.dislikers.all %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#E32636" stroke="#ff2b3d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="Whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                {% endif %}


                                <h3> {{ i.dislikers.count }} </h3>

                            </button>
                        
                            <a href="{% url 'post_page' i.id %}" class="comments"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                                <h3> {{ i.comments.count }} </h3>
                            </a>
                        
                        
                            <button name = "btn_f" value = "{{ i.id }}" type="submit" class="favorite"> 
                                {% if i in user.favorites.all %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="gold" stroke="gold" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                {% endif %} 
                            </button>
                        </form>
                    </div>
                    {% else %}
                    <div class="post">
                        <div>
                            <div class="post-header">
                                <img class="avatar" src="{{ i.sender.avatar.url }}" alt="User Avatar">
                                <div class="user-info">
                                    <h2 class="username">{{ i.sender.username }}</h2>
                                    <p class="post-date">{{ i.date_created }}</p>
                                </div>
                            </div>
                            <div class="post-content">
                                {% if i.post_title|length > 20  %}
                                <h3 class="post-title"> {{ i.post_title|slice:":20" }}... </h3>
                                {% else %}
                                <h3 class="post-title"> {{ i.post_title }} </h3>
                                {% endif %}


                                {% if i.post_text|length > 465  %}
                                <p class="post-text"> {{ i.post_text|slice:":465" }}... </p>
                                {% else %}
                                <p class="post-text"> {{ i.post_text }} </p>
                                {% endif %}

                                <div class="post-tags">
                                    {% for tag in i.post_tags.all|slice:":3" %}
                                    <span class="tag"> #{{ tag }} </span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    
                    
                        <form method="post" class="post-actions">
                            {% csrf_token %}
                            <button name = "btn_l" value = "{{ i.id }}" type="submit" class="like"> 
                                {% if user in i.likers.all %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#238925" stroke="#1ca31e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                {% endif %}
                                <h3> {{ i.likers.count }} </h3>
                            </button>
                        
                            <button name = "btn_d" value = "{{ i.id }}" type="submit" class="dislike"> 
                                {% if user in i.dislikers.all %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#E32636" stroke="#ff2b3d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="Whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                {% endif %}


                                <h3> {{ i.dislikers.count }} </h3>

                            </button>
                        
                        
                            <a href="{% url 'post_page' i.id %}" class="comments"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                                <h3> {{ i.comments.count }} </h3>
                            </a>
                        
                        
                            <button name = "btn_f" value = "{{ i.id }}" type="submit" class="favorite"> 
                                {% if i in user.favorites.all %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="gold" stroke="gold" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                {% endif %} 
                            </button>
                        </form>
                    </div>
                    {% endif %}
                {% endfor %}
            </span>

            <span>
                <h1> You have reached the end,  you can create your post !! </h1>
                
            </span>
        </section>

        <section>
        </section>
    </main>

    <nav>
        <h1> Frends </h1>
        <ul>
            
            
            {% for i in user.friends_set.all %}
            <li>
                <a href="{% url 'user_profile' i.id %}"> 
                    <img src="{{ i.avatar.url }}" alt=""> 
                    
                    <div>
                        <h1> {{ i.username }} </h1> 
                        <h3> was {{ i.date_joined }} </h3>
                    </div>
                </a>
            </li>
            {% endfor %}

            
        </ul>
    </nav>
{% endblock %}
