{% extends 'main/base.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static './main/css/posts/style.css' %}">
{% endblock %}

{% block title %} SmartChat | Posts {% endblock %}

{% block main %} 
    <menu>
        <div>
            <h1> Pages </h1>
        </div>
        <hr>

        <ul>
            <li class = "active" ><a href="./posts.html"> <img src="{% static 'main/icon/posts.svg' %}" alt=""> Posts </a></li>
            <li><a href="{% url 'ftf' %}"> <img src="{% static 'main/icon/message.svg' %}" alt=""> Chat </a></li>
        </ul>

    </menu>

    <main>
        <section>
            <div></div>
            <a href="{% url 'create_post' %}"> <button> <span> + </span> Create </button> </a>
        </section>

        <section>
            
            <!-- ETE NKAR KA -->
            <div href = "" class = "img-post">
                <div>
                    <a href="./post_page.html" >
                        <img src="{% static 'main/img/load_imgae.jpeg' %}" alt=""> 
                    </a>
                </div>

                <div>
                    <div>
                        <a href="./post_page.html" >
                            <h1> Title<span> (#id) </span> </h1>
                            <div>
                                <p>#Python</p>
                                <p>#django</p>
                                <p>#JavaScript</p>
                            </div>
                            <h3> s simply dummy text of the printing </h3>
                        </a>
                    </div>   
                    
                    <div>
                        <div>
                            <a href="/user_profile.html">
                                <img src=" {% static 'main/img/default_avatar.png' %}" alt="">
                                <h2> Suro299 </h2>
                            </a>
                        </div>
                        
                        <div>

                            <!-- CHMORANAS METHODY POST TAS -->
                            <form>
                                <button type = "submit" onclick="alert('!! Hly patrast chi !!');"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                    0 
                                </button>

                                <button type = "submit" onclick="alert('!! Hly patrast chi !!');"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 24" fill="none" stroke="Whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                    
                                    0 
                                </button>
                                
                                <button  type = "submit" onclick="alert('!! Hly patrast chi !!');"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>                                   
                                    0 
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <!-- ETE NKAR CHKA -->
            <div class = "simple-post">
                <div>
                    <a href="./post_page.html" >
                        <h1> Title <span> (#id) </span> </h1>
                        
                        <div>
                            <p>#Python</p>
                            <p>#django</p>
                            <p>#JavaScript</p>
                        </div>
                        
                        <h3> 
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type 
                            specimen book. It has survived not only five centuries, but also the leap 
                            into electronic typesetting, remaining essentially unchanged. It was 
                            popularised in the 1960s with the release of Letraset sheets containing 
                            Lorem Ipsum passages, and more recently with desktop publishing software 
                            like Aldus PageMaker including versions of Lorem Ipsum. 
                        </h3>

                        
                    </a>
                </div>

                <div>
                    <div>
                        <a href="./user_profile.html">
                            <img src="{% static 'main/img/default_avatar.png' %}" alt="">
                            <h2> Suro299 </h2>
                        </a>
                    </div>
                    
                    <div>

                        <!-- CHMORANAS METHODY POST TAS -->
                        <form>
                            <button type = "submit" onclick="alert('!! Hly patrast chi !!');"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                0 
                            </button>

                            <button type = "submit" onclick="alert('!! Hly patrast chi !!');"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 24" fill="none" stroke="Whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                
                                0 
                            </button>
                            
                            <button onclick="alert('!! Hly patrast chi !!');"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>                                   
                                0 
                            </button>
                        </form>
                        
                    </div>
                </div>

            </div>
        </section>
    </main>

    <nav>
        <h1> Frends </h1>
        <ul>
            
            

            <li>
                <a href="{% url 'user_profile' %}"> 
                    <img src="{% static 'main/img/default_avatar.png' %}" alt=""> 
                    
                    <div>
                        <h1> Suro299 </h1> 
                        <h3> was 12m ago </h3>
                    </div>
                </a>
            </li>

            
        </ul>
    </nav>
{% endblock %}
