<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/post_page/style.css">
    <link rel="stylesheet" href="./css/dop/header/style.css">
    <link rel="stylesheet" href="./css/dop/set_menu/style.css">
    <title> SmartChat | Suro299 | #12 </title>

</head>
<body>
    <!-- HEADER START  -->
    <header>
        <div onclick="OpenSettingsWindow()">
            <img src="img/default_avatar.png" alt="User Avatar">
            <h1> Suro299 </h1>
            <div>
                <h1> 1 </h1>
            </div>
        </div>
        
        <div>
            <p>43 px</p>
            <div>
                <div style = "width: 43%;" ></div>
            </div>
        </div>
        
        <div>
            <input type="text" placeholder="Search...  #id / @username / word">
        </div>
        
        <div>
            <h1> SmartChat </h1>
        </div>
    
    </header>
    <!-- HEADER END -->

    <button onclick="history.back()"> Go Back </button>

    <main>


        <section>
            <div>
                <h1> Post - Title </h1>
                <span>
                    <div>
                        <a href="./user_profile.html">
                            <img src="./icon/user.svg" alt="">
                            <h3> Suro299 </h3>
                        </a>
                    </div>
                    <div>
                        <img src="./icon/clock.svg" alt="">
                        <h3> 06/05/2023 </h3>
                    </div>
                </span>
            </div>

            <div>
                <button onclick="OpenPostMoreWindow()" > 
                    <img src="./icon/more-vertical.svg" alt="">    
                </button>


                <span id = "post_dop">
                    <ul>
                        <li> <a href="./confirm_delete.html"> Delete </a> </li>
                    </ul>
                </span>

            </div>
        </section>

        <section>

            <menu>
                <a href="./user_profile.html">

                    <img src="./img/default_avatar.png" alt="">
                    <h1> Suro299 </h1>

                    <!-- START || ETE ADMIN A -->
                        <div class = "admin">
                            <h1> Admin </h1>
                        </div>
                    <!-- END || ETE ADMIN A -->
                    
                    <!-- =========================================== -->

                    
                    <!-- END || ETE USER A -->
                        <!-- <div class = "user">
                            <h1> user </h1>
                        </div> -->
                    <!-- END || ETE USER A -->

                    <span>
                        <dl>
                            <dt> Registration: </dt>
                            <dd> 05/05/2023 </dd>
                        </dl>
                    
                        <dl>
                            <dt> Posts: </dt>
                            <dd> 0 </dd>
                        </dl>
                    
                        <dl>
                            <dt> Reactions: </dt>
                            <dd> 0 </dd>
                        </dl>
                    
                        <dl>
                            <dt> Points: </dt>
                            <dd> 0 </dd>
                        </dl>
                    </span>
                </a>
            </menu>

            <span>
                <div>
                    <span>
                        <div>
                            <img src="./icon/clock.svg" alt="">
                            <h3>06/05/2023</h3>
                        </div>
    
                        <div>
                            
                            <img src="./icon/share.svg" alt="">
                            <h3> #1 </h3>
                        </div>
                    </span>
    
                    <span></span>

                </div>

                <div>
                    <img src="./img/siluet_krug_svechenie_141558_1920x1080.jpg" alt="">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint eligendi modi dignissimos. Ullam, voluptas maiores fugit impedit aliquid consectetur quibusdam delectus tempora molestias placeat enim expedita. In ab optio repudiandae.
                        Vel, atque! Officiis vitae consequuntur ipsam sunt nihil quos eius eos animi. Fugiat, non consectetur doloremque suscipit dicta officiis iste et mollitia repellat odio repellendus distinctio eos expedita id sunt?
                        Maxime ratione exercitationem, nostrum rem veritatis sint asperiores officia totam deserunt ut id eum praesentium mollitia numquam, quaerat aperiam aut facilis laboriosam nihil consectetur. Beatae porro odio quis quo exercitationem.
                        Laudantium error quisquam earum fugit, fugiat nemo sunt labore vero ducimus! Quidem ea sequi obcaecati voluptatum laborum expedita, atque adipisci ab nobis. Magnam quia amet temporibus, maiores nihil possimus veritatis?
                        Beatae est ab maiores voluptatibus molestiae eius earum. Quas eos harum vel voluptas magni ducimus voluptates. Impedit odit sint aperiam quis! Laborum saepe veritatis voluptate a impedit numquam voluptas nesciunt.
                        Maiores, nesciunt placeat. Numquam distinctio nostrum perferendis ex nam, nemo similique non labore eius praesentium quos consectetur delectus atque ullam ratione at velit odio inventore accusantium culpa temporibus iusto dolorum.
                        Vero sequi quis repudiandae id excepturi tenetur delectus facere amet est obcaecati rerum laborum vitae doloribus, in eaque saepe temporibus quidem cupiditate aperiam! Minima, ad necessitatibus? Consectetur officiis doloribus quas!
                        Natus veritatis neque deserunt eius earum! Amet voluptatum, facere atque, corrupti est unde enim dolore necessitatibus, blanditiis harum vero facilis soluta tenetur? Maiores itaque atque ut nemo hic magnam? Doloremque.
                        Hic ex corporis dicta ducimus ad corrupti fugit soluta velit nulla amet laudantium ipsam accusantium, exercitationem consectetur alias fugiat dolores voluptas impedit. Consequuntur, dignissimos non aspernatur officiis ullam doloremque animi!
                        Maxime sequi aut architecto iusto repellendus tempore sunt fugit dolore fuga placeat, cupiditate dicta ipsum vero animi veniam. Totam eligendi doloremque saepe, pariatur tempora reiciendis veniam odio quo. Veritatis, sit?
                    </p>
                </div>
            </span>
            
        </section>

        <section>
            <div>
                <img src="./img/default_avatar.png" alt="">
            </div>

            <div>
                <form method="post">
                    <textarea name="" cols="10" rows="5" placeholder = "Message..." ></textarea>
                    <button type = "submit">
                        <img src="./icon/send.svg" alt="">
                    </button>
                </form>
            </div>
        </section>

        <section class = "comment">
            <div>
                <menu>
                    <a href="./user_profile.html">
        
                        <img src="./img/default_avatar.png" alt="">
                        <h1> Suro299 </h1>
        
                        <!-- START || ETE ADMIN A -->
                            <div class = "admin">
                                <h1> Admin </h1>
                            </div>
                        <!-- END || ETE ADMIN A -->
                        
                        <!-- =========================================== -->
        
                        
                        <!-- END || ETE USER A -->
                            <!-- <div class = "user">
                                <h1> user </h1>
                            </div> -->
                        <!-- END || ETE USER A -->
        
                        <span>
                            <dl>
                                <dt> Registration: </dt>
                                <dd> 05/05/2023 </dd>
                            </dl>
                        
                            <dl>
                                <dt> Posts: </dt>
                                <dd> 0 </dd>
                            </dl>
                        
                            <dl>
                                <dt> Reactions: </dt>
                                <dd> 0 </dd>
                            </dl>
                        
                            <dl>
                                <dt> Points: </dt>
                                <dd> 0 </dd>
                            </dl>
                        </span>
                    </a>
                </menu>
    
                <span>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint eligendi modi dignissimos. Ullam, voluptas maiores fugit impedit aliquid consectetur quibusdam delectus tempora molestias placeat enim expedita. In ab optio repudiandae.
                        Vel, atque! Officiis vitae consequuntur ipsam sunt nihil quos eius eos animi. Fugiat, non consectetur doloremque suscipit dicta officiis iste et mollitia repellat odio repellendus distinctio eos expedita id sunt?
                        Maxime ratione exercitationem, nostrum rem veritatis sint asperiores officia totam deserunt ut id eum praesentium mollitia numquam, quaerat aperiam aut facilis laboriosam nihil consectetur. Beatae porro odio quis quo exercitationem.
                        Laudantium error quisquam earum fugit, fugiat nemo sunt labore vero ducimus! Quidem ea sequi obcaecati voluptatum laborum expedita, atque adipisci ab nobis. Magnam quia amet temporibus, maiores nihil possimus veritatis?
                    </p>
                </span>
            </div>

            <div>
                <span>
                    <div>
                        <a href="./user_profile.html">
                            <img src="./icon/user.svg" alt="">
                            <h3> Suro299 </h3>
                        </a>
                    </div>
                    <div>
                        <img src="./icon/clock.svg" alt="">
                        <h3> 06/05/2023 </h3>
                    </div>
                </span>

                <span>
    
                    <!-- CHMORANAS METHODY POST TAS -->
                    <form>
                        <button type="submit">
                            <dl>
                                <dt>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                </dt>
                                <dd> 0 </dd>
                            </dl>
                        </button>


                        <button type="submit">
                            <dl>
                                <dt>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="Whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                </dt>
                                <dd> 0 </dd>
                            </dl>
                        </button>
                    </form>
                    
                </span>
            </div>
        </section>

        <section class = "comment">
            <div>
                <menu>
                    <a href="./user_profile.html">
        
                        <img src="./img/default_avatar.png" alt="">
                        <h1> Chgitemov </h1>
        
                        <!-- START || ETE ADMIN A -->
                            <!-- <div class = "admin">
                                <h1> Admin </h1>
                            </div> -->
                        <!-- END || ETE ADMIN A -->
                        
                        <!-- =========================================== -->
        
                        
                        <!-- END || ETE USER A -->
                            <div class = "user">
                                <h1> user </h1>
                            </div>
                        <!-- END || ETE USER A -->
        
                        <span>
                            <dl>
                                <dt> Registration: </dt>
                                <dd> 05/05/2023 </dd>
                            </dl>
                        
                            <dl>
                                <dt> Posts: </dt>
                                <dd> 0 </dd>
                            </dl>
                        
                            <dl>
                                <dt> Reactions: </dt>
                                <dd> 0 </dd>
                            </dl>
                        
                            <dl>
                                <dt> Points: </dt>
                                <dd> 0 </dd>
                            </dl>
                        </span>
                    </a>
                </menu>
    
                <span>
                    <p>
                        lav ape
                    </p>
                </span>
            </div>

            <div>
                <span>
                    <div>
                        <a href="./user_profile.html">
                            <img src="./icon/user.svg" alt="">
                            <h3> Chgitemov </h3>
                        </a>
                    </div>
                    <div>
                        <img src="./icon/clock.svg" alt="">
                        <h3> 06/05/2023 </h3>
                    </div>
                </span>

                <span>
                    <form action="">
                        <button type="submit">
                            <dl>
                                <dt>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                </dt>
                                <dd> 0 </dd>
                            </dl>
                        </button>


                        <button type="submit">
                            <dl>
                                <dt>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="Whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                </dt>
                                <dd> 0 </dd>
                            </dl>
                        </button>
                    </form>
                    
                </span>
            </div>
        </section>


    </main>
    
    <!-- SETTINGS MENU START -->
    <div id = "settings_menu" class = "menu_left">
        <ul>
            <li><h3> Signed in as <span> Suro299 </span> </h3></li>
            <hr>
            <li><a href="./user_profile.html" > <img src="icon/user.svg" alt=""> My Profile </a></li>
            <hr>
            <li><a href="./posts.html" > <img src="icon/posts.svg" alt=""> Go To Posts </a></li>
            <li><a href="./404.html" > <img src="icon/message.svg" alt=""> Go To Chats </a></li>
            <hr>
            <li><a href="./profil_settings.html"> <img src="./icon/user_settings.svg" alt=""> Profile Settings</a></li>
            <li><a href="./404.html"> <img src="./icon/settings.svg" alt=""> Site Settings </a></li>
            <hr>
            <li><a href="./contact_us.html"> <img src="./icon/contact-us.svg" alt=""> Contact Us </a></li>
            <li><a href="./about_us.html"> <img src="./icon/about-us.svg" alt=""> About Us </a></li>
            <li><a href="./lastest_update.html"> <img src="./icon/refresh-cw.svg" alt=""> Latest update </a></li>
            <hr>
            <li><a href = "./404.html" > <img src="./icon/log-out.svg" alt="">  Log-out </a></li>
        </ul>
    </div>
    <!-- SETTINGS MENU END -->
    
    
    <!-- START JS -->
    <script src="./js/dop.js"></script>
    <script src="./js/post_more.js"></script>
    <!-- END JS -->
    </body>
    </html>
</body>
</html>