{% extends 'main/base.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'main/css/post_page/style.css' %}">
{% endblock %}

{% block title %} SmartChat | Post #{{ post.id }} {% endblock %}

{% block main %} 

    <a href="{% url 'posts' %}"> <button> Post Page </button> </a>

    <main>

        <section>
            <div>
                <h1> {{ post.post_title }} </h1>
                <span>
                    <div>
                        <a href="{% url 'user_profile' post.sender.id %}">
                            <img src="{% static 'main/icon/user.svg' %}" alt="">
                            <h3> {{ post.sender.username }} </h3>
                        </a>
                    </div>
                    <div>
                        <img src="{% static 'main/icon/clock.svg' %}" alt="">
                        <h3> {{ post.date_created }} </h3>
                    </div>
                </span>
            </div>

            <div>
                {% if post.sender.id == user.id %}
                <button onclick="OpenPostMoreWindow()" > 
                    <img src="{% static 'main/icon/more-vertical.svg' %}" alt="">    
                </button>


                <span id = "post_dop">
                    <ul>
                        <li> <a href="{% static 'main/confirm_delete.html' %}"> Delete </a> </li>
                    </ul>
                </span>
                {% endif %}
            </div>

        </section>

        <section>

            <menu>
                <a href="{% url 'user_profile' post.sender.id %}">

                    <img src="{{ post.sender.avatar.url }}" alt="">
                    <h1> {{ post.sender.username }} </h1>

                    {% if post.sender.is_staff%}
                        <div class = "admin">
                            <h1> Admin </h1>
                        </div>
                    {% else %}
                        <div class = "user">
                            <h1> user </h1>
                        </div>
                    {% endif %}

                    <span>
                        <dl>
                            <dt> Registration: </dt>
                            {{ post.sender.date_joined.year}} /
                            {{ post.sender.date_joined.month}} / 
                            {{ post.sender.date_joined.day}}
                        </dl>
                    
                        <dl>
                            <dt> Posts: </dt>
                            <dd> {{ post.sender.posts_posted}} </dd>
                        </dl>
                    
                        <dl>
                            <dt> Reactions: </dt>
                            <dd> {{ post.sender.reactions }} </dd>
                        </dl>
                    
                        <dl>
                            <dt> Points: </dt>
                            <dd> {{ post.sender.points }} </dd>
                        </dl>
                    </span>
                </a>
            </menu>

            <span>
                <div>
                    <span>
                        <div>
                            <img src="{% static 'main/icon/clock.svg' %}" alt="">
                            <h3> {{ post.date_created }} </h3>
                        </div>
    
                        <div>
                            
                            <img src="{% static 'main/icon/share.svg' %}" alt="">
                            <h3> # {{ post.id }}</h3>
                        </div>
                    </span>
    
                    <span></span>

                </div>

                <div>
                    {% if post.post_image %}
                    <img src="{{ post.post_image.url }}" alt="">
                    {% endif %}
                    
                    <p>
                        {{ post.post_text}}
                    </p>
                </div>
            </span>
            
        </section>

        <section>
            <div>
                <img src="{{ user.avatar.url }}" alt="">
            </div>

            <div>
                <form method="post">
                    {% csrf_token %}
                    <textarea name = "text" cols="10" rows="5" placeholder = "Message..." ></textarea>
                    <button name = "post_comment" value = "post_comment" type = "submit">
                        <img src="{% static 'main/icon/send.svg' %}" alt="">
                    </button>
                </form>
            </div>
        </section>

        
        {% for i in comments %}
        <section class = "comment">
            <div>
                <menu>
                    <a href="{% url 'user_profile' i.com_sender.id %}">

                        <img src="{{ i.com_sender.avatar.url }}" alt="">
                        <h1> {{ i.com_sender.username }} </h1>
    
                        {% if  i.com_sender.is_staff%}
                            <div class = "admin">
                                <h1> Admin </h1>
                            </div>
                        {% else %}
                            <div class = "user">
                                <h1> user </h1>
                            </div>
                        {% endif %}
    
                        <span>
                            <dl>
                                <dt> Registration: </dt>
                                <dd> 
                                    {{ i.com_sender.date_joined.year}} /
                                    {{ i.com_sender.date_joined.month}} / 
                                    {{ i.com_sender.date_joined.day}}
                                </dd>
                            </dl>
                        
                            <dl>
                                <dt> Posts: </dt>
                                <dd> {{ i.com_sender.posts_posted}} </dd>
                            </dl>
                        
                            <dl>
                                <dt> Reactions: </dt>
                                <dd> {{ i.com_sender.reactions }} </dd>
                            </dl>
                        
                            <dl>
                                <dt> Points: </dt>
                                <dd> {{ i.com_sender.points }} </dd>
                            </dl>
                        </span>
                    </a>
                </menu>
    
                <span>
                    <p>
                        {{ i.text }}
                    </p>
                </span>
            </div>

            <div>
                <span>
                    <div>
                        <a href="{% url 'user_profile'  i.com_sender.id %}">
                            <img src="{% static 'main/icon/user.svg' %}" alt="">
                            <h3> {{ i.com_sender.username }} </h3>
                        </a>
                    </div>
                    <div>
                        <img src="{% static 'main/icon/clock.svg' %}" alt="">
                        <h3> {{ i.date_created }} </h3>
                    </div>

                </span>

                <span>
                    <form method=  "post">
                        {% csrf_token %}
                        <button name = "btn_l" value = "{{ i.id }}"  type="submit">
                            <dl>
                                <dt>
                                    {% if user in i.likers.all %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#238925" stroke="#1ca31e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                    {% else %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                    {% endif %}
                                </dt>
                                <dd> {{ i.likers.count }} </dd>
                            </dl>
                        </button>


                        <button name = "btn_d" value = "{{ i.id }}"  type="submit">
                            <dl>
                                <dt>
                                    {% if user in i.dislikers.all %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#E32636" stroke="#ff2b3d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                    {% else %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="Whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                    {% endif %}
                                </dt>
                                <dd> {{ i.dislikers.count }} </dd>
                            </dl>
                        </button>
                    </form>
                    
                </span>
            </div>
        </section>
        {% endfor %}

    </main>
    {% block js %} <script src="{% static 'main/js/post_more.js' %}"></script> {% endblock %}
{% endblock %}  