<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/dop/header/style.css">
    <link rel="stylesheet" href="./css/dop/set_menu/style.css">
    <link rel="stylesheet" href="./css/profile_settings/style.css">

    <title> Smart Chat | Settings </title>
</head>
<body>
    <!-- HEADER START  -->
    <header>
        <div onclick="OpenSettingsWindow()">
            <img src="img/default_avatar.png" id = "avatar">
            <h1> Suro299 </h1>
            <div>
                <h1> 1 </h1>
            </div>
        </div>
        
        <div>
            <p>43 px</p>
            <div>
                <div style = "width: 43%;" ></div>
            </div>
        </div>
        
        <div>
            <input type="text" placeholder="Search...  #id / @username / word">
        </div>
        
        <div>
            <h1> SmartChat </h1>
        </div>
    
    </header>
    <!-- HEADER END -->



    <main>

        <section>
            <div class="">
                <img src="./img/default_avatar.png" id="user_avatar" onclick="OpenFileSelect()">
                <img src="./icon/edit.svg" onclick="OpenFileSelect()">
            </div>
           
           
            <div>
                <h1> Suro299 </h1>
                <h3> Suren Dallakyan </h3>
            </div>

            <input id="avatar_input" style="display: none;" onchange="ChangeAvatar()" type="file">
        </section>


        <section>
            <form method="post">
                <span>
                    <div>
                        <img src="./icon/user.svg" alt="">
                        <input type="text" name="username" placeholder = "Username">
                    </div>
                    
                    <div>
                        <img src="./icon/mail.svg" alt="">
                        <input type="email" name="email" placeholder = "Email@exemple.com">
                    </div>
                </span>


                <span>
                    <div>
                        <img src="./icon/user.svg" alt="">
                        <input type="text" name="first_name" placeholder = "First Name">
                    </div>  
                    
                    <div>
                        <img src="./icon/user.svg" alt="">
                        <input type="text" name="last_name" placeholder = "Last Name">
                    </div>
                </span>

                <span>
                    <div>
                        <img src="./icon/link.svg" alt="">
                        <input type="text" name="first_name" placeholder = "Personal Link">
                    </div>  
                    
                    <div>
                        <img src="./icon/hash.svg" alt="">
                        <input type="text" name="last_name" placeholder = "Link Title">
                    </div>
                </span>

                <textarea name="about" cols="82" rows="5" placeholder=" BIO "></textarea>
                <button id = "submit_button" type="submit"></button>
            </form>
        </section>

        <section>
            <button onclick = "SumbitProfileForm()"> Save </button>
        </section>

    </main>


    <menu>
        <h1> User settings </h1>

        <ul>
            <li class = "active"> 
                <img src="./icon/user.svg" alt=""> 
                <a href="./profil_settings.html"> Profile </a> 
            </li>

            <li class = "" >
                <img src="./icon/shield.svg" alt="">
                <a href="./confid_settings.html"> Confidentiality </a> 
            </li>
        </ul>

        <h1> Site settings </h1>

        <ul>
            <li class = ""> 
                <img src="./icon/settings.svg" alt=""> 
                <a href="./404.html"> Settings </a> 
            </li>
        </ul>


    </menu>



    <!-- SETTINGS MENU START -->
    <div id = "settings_menu" class = "menu_left">
        <ul>
            <li><h3> Signed in as <span> Suro299 </span> </h3></li>
            <hr>
            <li><a href="./user_profile.html" > <img src="icon/user.svg" alt=""> My Profile </a></li>
            <hr>
            <li><a href="./posts.html" > <img src="icon/posts.svg" alt=""> Go To Posts </a></li>
            <li><a href="./404.html" > <img src="icon/message.svg" alt=""> Go To Chats </a></li>
            <hr>
            <li><a href="./profil_settings.html"> <img src="./icon/user_settings.svg" alt=""> Profile Settings</a></li>
            <li><a href="./404.html"> <img src="./icon/settings.svg" alt=""> Site Settings </a></li>
            <hr>
            <li><a href="./contact_us.html"> <img src="./icon/contact-us.svg" alt=""> Contact Us </a></li>
            <li><a href="./about_us.html"> <img src="./icon/about-us.svg" alt=""> About Us </a></li>
            <li><a href="./lastest_update.html"> <img src="./icon/refresh-cw.svg" alt=""> Latest update </a></li>
            <hr>
            <li><a href = "./404.html" > <img src="./icon/log-out.svg" alt="">  Log-out </a></li>
        </ul>
    </div>
    <!-- SETTINGS MENU END -->


    <!-- START JS -->
    <script src="./js/dop.js"></script>
    <!-- END JS -->
</body>
</html>