{% extends 'main/base.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'main/css/user_profile/style.css' %}">
{% endblock %}

{% block title %} SmartChat | {{ one_user.username }} {% endblock %}

{% block main %} 
    <a href="{% url 'posts' %}"> <button class = "goBack"> Post Page </button> </a>

    <main>

        <section>
            <div>
                <div>
                    {% if one_user.avatar_visibility == "all" or one_user == user %}
                        <img class="avatar" src="{{ one_user.avatar.url }}" alt="User Avatar">
                    {% else %}
                        {% if one_user.avatar_visibility == "friends" and user in one_user.friends_set.all %}
                            <img class="avatar" src="{{ one_user.avatar.url }}" alt="User Avatar">
                        {% else %}
                            <img class="avatar" src="{% static 'main/img/default_avatar.png' %}" alt="User Avatar">
                        {% endif %}
                    {% endif %}
                </div>

                <div>
                    <div>
                        <h1> {{ one_user.username }} </h1>
                        
                        <h3> {{ one_user.description }} </h3>

                        <div>
                            <a href=""> {{ one_user.subscribers_set.count }} subscribers </a>
                            <a href=""> {{ one_user.subscription_set.count }} subscription </a>
                        </div>
                    </div>
                    
                    <div>

                        {% if one_user.show_favorites or one_user == user %}
                            <div>
                                <a href="{% url 'user_more' one_user.id 'fov'  %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                </a>
                            </div>
                        {% else %}
                            <div style = "opacity: 1;">
                                <a href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                                        <path d="M10.75 6L11.9369 3.15144V3.15144C11.9603 3.09535 12.0397 3.09535 12.0631 3.15144V3.15144L13.9872 7.76923C14.2977 8.51452 15.0259 9 15.8333 9H20.8931V9C20.9326 9 20.9523 9.04768 20.9244 9.07557L20.8931 9.10687L17.5 12.5" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M9 9H3.13547V9C3.08548 9 3.06044 9.06044 3.09579 9.09579L3.13547 9.13547L7.16787 13.1679C7.68147 13.6815 7.87625 14.4331 7.67671 15.1315L6.06393 20.7762L6.0564 20.8026C6.03711 20.8701 6.1124 20.9251 6.17083 20.8861V20.8861L10.8906 17.7396C11.5624 17.2917 12.4376 17.2917 13.1094 17.7396L17.8186 20.879L17.837 20.8913C17.8928 20.9285 17.9646 20.8761 17.9462 20.8117V20.8117L16.8571 17" stroke="whitesmoke" stroke-width="2" stroke-linejoin="round"/>
                                        <path d="M3 3L21 21" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </a>
                            </div>
                        {% endif %}

                        <div> | </div>

                        {% if one_user.show_likes or one_user == user %}
                            <div>
                                <a href="{% url 'user_more' one_user.id 'likes' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up">
                                        <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path>
                                    </svg>
                                </a>
                            </div>
                        {% else %}
                            <div style = "opacity: 1;">
                                <a href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up">
                                        <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path>
                                        <path d="M3 3L50 50" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </a>
                            </div>
                        {% endif %}




                        <div> | </div>




                        {% if one_user.show_dislikes or one_user == user %}
                            <div>
                                <a href="{% url 'user_more' one_user.id 'dislikes'  %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="Whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down">
                                        <path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path>
                                    </svg>
                                </a> 
                            </div>
                        {% else %}
                            <div style = "opacity: 1;">
                                <a href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="Whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down">
                                        <path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path>
                                        <path d="M2 1L30 30" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </a>  
                            </div>
                        {% endif %}
                     

                    </div>
                </div>
            </div>

            <div>
                <div>
                    <h1> Level </h1>

                    <div>
                        <h3> {{ one_user.level}} LVL </h3>
                        <div> <div style = "width: {{ one_user.exp }}%;"></div> </div>
                        <h3> {{ next_level }} LVL </h3>
                    </div>
                </div>

                <div>

                    <form method="post">
                        {% csrf_token %}
                        {% if one_user == user %}
                            <a href="">
                                <button class = "edit_profile" value = "edit_profile" name = "edit_profile"> 
                                <img src="{% static 'main/icon/edit.svg' %}" alt="">
                                   Edit Profilee
                                </button>
                            </a>
                        {% else %}
                            {% if  one_user in user.friends_set.all  %}
                                <button class = "unfollow" type = "sumbit" value = "unfollow" name = "unfollow"> 
                                    <img src="{% static 'main/icon/user-check.svg' %}" alt="">
                                    You Are Friends
                                </button>                    
                            {% else %}
                                {% if user in one_user.subscribers_set.all %}
                                    <button class = "unfollow" type = "sumbit" value = "unfollow" name = "unfollow"> 
                                        <img src="{% static 'main/icon/user-check.svg' %}" alt="">
                                         Unfollow
                                    </button>  
                                {% else %}
                                    {% if one_user in user.subscribers_set.all %}
                                        <button class = "follow" type = "sumbit" value = "follow" name = "follow"> 
                                            <img src="{% static 'main/icon/user-plus.svg' %}" alt="">
                                            Add to answer
                                        </button>
                                    {% else%}
                                        <button class = "follow" type = "sumbit" value = "follow" name = "follow"> 
                                            <img src="{% static 'main/icon/user-plus.svg' %}" alt="">
                                            Follow
                                        </button>
                                    {% endif %}
                                {% endif %}
                            {% endif %} 

                            <button class = "send_message" type = "sumbit" value = "send_msg" name = "send_message"> 
                                <img src="{% static 'main/icon/send.svg' %}" alt="">
                                Send Message 
                            </button>
                        {% endif %}
                       

                    </form>
                </div>
            </div>

        </section>


        <section>
            <span>
                <h1> LAST POSTS </h1>
            </span>
            
            <span>
                {% for i in last_posts%}
                    {% if i.post_image %}
                    <div class="post">
                        <div>
                            <div class="post-header">

                                {% if i.sender.avatar_visibility == "all" or i.sender == user %}
                                    <img class="avatar" src="{{ i.sender.avatar.url }}" alt="User Avatar">
                                {% else %}
                                    {% if i.sender.avatar_visibility == "friends" and user in i.sender.friends_set.all %}
                                        <img class="avatar" src="{{ i.sender.avatar.url }}" alt="User Avatar">
                                    {% else %}
                                        <img class="avatar" src="{% static 'main/img/default_avatar.png' %}" alt="User Avatar">
                                    {% endif %}
                                {% endif %}
                                
                                
                                <div class="user-info">
                                    <h2 class="username">{{ i.sender.username }}</h2>
                                    <p class="post-date">{{ i.date_created }}</p>
                                </div>
                            </div>

                            <a style = "color:whitesmoke;" href="{% url 'post_page' i.id %}">
                                <div class="post-content">
                                    {% if i.post_title|length > 20  %}
                                    <h3 class="post-title"> {{ i.post_title|slice:":20" }}... </h3>
                                    {% else %}
                                    <h3 class="post-title"> {{ i.post_title }} </h3>
                                    {% endif %}
                                
                                    <div class = "post_image_div">
                                        <img class="post_image" src="{{ i.post_image.url }}" alt="Post Image">
                                    </div>
                                
                                    {% if i.post_text|length > 76  %}
                                    <p class="post-text"> {{ i.post_text|slice:":76" }}... </p>
                                    {% else %}
                                    <p class="post-text"> {{ i.post_text }} </p>
                                    {% endif %}

                                    <div class="post-tags">
                                        {% for tag in i.post_tags.all|slice:":3" %}
                                        <span class="tag"> #{{ tag }} </span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    
                        <form method="post" class="post-actions">
                            {% csrf_token %}
                            <button name = "btn_l" value = "{{ i.id }}" type="submit" class="like"> 
                                {% if user in i.likers.all %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#238925" stroke="#1ca31e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                {% endif %}

                                <h3> {{ i.likers.count }} </h3>
                            </button>
                        
                            <button name = "btn_d" value = "{{ i.id }}" type="submit" class="dislike"> 
                                {% if user in i.dislikers.all %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#E32636" stroke="#ff2b3d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="Whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                {% endif %}


                                <h3> {{ i.dislikers.count }} </h3>

                            </button>
                        
                            <a href="{% url 'post_page' i.id %}" class="comments"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                                <h3> {{ i.comments.count }} </h3>
                            </a>
                        
                        
                            <button name = "btn_f" value = "{{ i.id }}" type="submit" class="favorite"> 
                                {% if i in user.favorites.all %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="gold" stroke="gold" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                {% endif %} 
                            </button>
                        </form>
                    </div>
                    {% else %}
                    <div class="post">
                        <div>
                            <div class="post-header">
                                
                                {% if i.sender.avatar_visibility == "all" or i.sender == user %}
                                    <img class="avatar" src="{{ i.sender.avatar.url }}" alt="User Avatar">
                                {% else %}
                                    {% if i.sender.avatar_visibility == "friends" and user in i.sender.friends_set.all %}
                                        <img class="avatar" src="{{ i.sender.avatar.url }}" alt="User Avatar">
                                    {% else %}
                                        <img class="avatar" src="{% static 'main/img/default_avatar.png' %}" alt="User Avatar">
                                    {% endif %}
                                {% endif %}
                                
                                <div class="user-info">
                                    <h2 class="username">{{ i.sender.username }}</h2>
                                    <p class="post-date">{{ i.date_created }}</p>
                                </div>
                            </div>

                            <a style = "color:whitesmoke;" href="{% url 'post_page' i.id %}"> 
                                <div class="post-content">
                                    {% if i.post_title|length > 20  %}
                                    <h3 class="post-title"> {{ i.post_title|slice:":20" }}... </h3>
                                    {% else %}
                                    <h3 class="post-title"> {{ i.post_title }} </h3>
                                    {% endif %}


                                    {% if i.post_text|length > 465  %}
                                    <p class="post-text"> {{ i.post_text|slice:":465" }}... </p>
                                    {% else %}
                                    <p class="post-text"> {{ i.post_text }} </p>
                                    {% endif %}

                                    <div class="post-tags">
                                        {% for tag in i.post_tags.all|slice:":3" %}
                                        <span class="tag"> #{{ tag }} </span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    
                    
                        <form method="post" class="post-actions">
                            {% csrf_token %}
                            <button name = "btn_l" value = "{{ i.id }}" type="submit" class="like"> 
                                {% if user in i.likers.all %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#238925" stroke="#1ca31e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                                {% endif %}
                                <h3> {{ i.likers.count }} </h3>
                            </button>
                        
                            <button name = "btn_d" value = "{{ i.id }}" type="submit" class="dislike"> 
                                {% if user in i.dislikers.all %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#E32636" stroke="#ff2b3d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="Whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down"><path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path></svg>
                                {% endif %}


                                <h3> {{ i.dislikers.count }} </h3>

                            </button>
                        
                        
                            <a href="{% url 'post_page' i.id %}" class="comments"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                                <h3> {{ i.comments.count }} </h3>
                            </a>
                        
                        
                            <button name = "btn_f" value = "{{ i.id }}" type="submit" class="favorite"> 
                                {% if i in user.favorites.all %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="gold" stroke="gold" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="whitesmoke" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                {% endif %} 
                            </button>
                        </form>
                    </div>
                    {% endif %}
                {% endfor %}

            </span>
        </section>
    </main>

{% endblock %}